.restaurant_name {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 46px;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
h2,
h3,
h4,
h5,
h6,
p,
.hours,.main_page_language_selector,
.nav li,
#footer .powered_by_dishgo,
.menu_container .language_selector,
address {
    font-family: 'Cantarell', sans-serif;
}
#footer #opened_or_closed_footer {
    text-transform: uppercase;
}
.menu_container h1 {
    line-height: 46px;
    font-size: 43px;
}
.menu_container h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.menu_container p,
.menu_container .dish_price i {
    font-family: 'Cantarell', sans-serif;
    font-size: 17px;
    line-height: 23px;
}
address {
    font-size: 17px;
    line-height: 23px;
}
.hours p {
    font-size: 17px;
    line-height: 23px;
}
.main_page_language_selector {
    text-transform: uppercase;
}