h1,
.restaurant_name {
    font-family: 'Dancing Script', cursive;
    font-size: 46px;
}
h2,
h3,
h4,
h5,
h6,
p,
.hours,.main_page_language_selector,
.nav li,
#footer .powered_by_dishgo,
.menu_container .language_selector,
address {
    font-family: 'EB Garamond', serif;
}
#footer #opened_or_closed_footer, .main_page_language_selector {
	text-transform: uppercase;
}
.menu_container h1 {
    font-size: 36px;
}
.menu_container h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 2px;
}
.menu_container p,
.menu_container .dish_price i {
	font-family: 'EB Garamond', serif;
    font-size: 16px;
    line-height: 23px;
}
address {
	font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
}
.hours p {
	font-size: 18px;
}
.content_wrapper span {
    font-family: 'Dancing Script', cursive;
}
.note-editor .note-editable {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}