	<h2 class="text-center">Welcome to DishGo</h1>
    		<hr>
    		<h3 class="text-center">Congratulations! Your registration is almost complete.</h1>
    		<p class="text-center" style="margin-bottom: 10px;">You’re 1 step closer to building a beautiful website!</p>
    		<p class="text-center">You will receive a confirmation email shortly, we sent it to the address you specified during the sign-up process. Open the email and click the link to get started.</p> 
	<p class="text-center">
	<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></p><br />