	<h2 class="text-center">Your account is awaiting confirmation.</h2>
	<p class="text-center">
	<%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></p><br />