.restaurant_name {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 46px;
}
h1,
h4,
h5,
span,
h6,
p,
.main_page_language_selector,
.nav li,
#footer .powered_by_dishgo,
.menu_container .language_selector,
address {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
h2,
h3 {
    font-family: 'Grand Hotel', cursive;
}
#footer #opened_or_closed_footer {
	text-transform: uppercase;
}
.menu_container h1 {
    font-size: 46px;
}
.menu_container h2 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
}
.menu_container p,
.menu_container .dish_price i {
	font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 23px;
}
address {
	font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
}
.hours p {
     font-size: 18px;
    line-height: 23px;
}
.main_page_language_selector {
    text-transform: uppercase;
}
.content_wrapper h1 {
    font-size: 42px;
}
.content_wrapper h2 {
    font-size: 40px;
}
.content_wrapper p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
}
/*.note-editor .note-editable {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}*/