.restaurant_name {
    font-family: 'Special Elite';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 46px;
    margin-top: 10px;
}
h1 {
    font-family: 'Special Elite';
    font-weight: normal;
    text-transform: uppercase;
}
h3,
h4,
h5,
h6,
p,
.hours,.main_page_language_selector,
.nav li,
#footer .powered_by_dishgo,
.menu_container .language_selector,
address {
    font-family: 'Special Elite';
}
h2 {
    font-family: 'Josefin Slab';
    font-style: italic;
}
#footer #opened_or_closed_footer {
    text-transform: uppercase;
}
.menu_container h1 {
    line-height: 46px;
    font-size: 43px;
}
.menu_container h2 {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
}
.menu_container p {
    font-family: 'Josefin Slab';
    font-size: 17px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
}
.menu_container .dish_price i {
    font-family: 'Special Elite';
    font-size: 17px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
}
.menu_container .dish-price i {
    font-family: 'Special Elite';
    font-style: italic;
}
address {
    font-size: 17px;
    line-height: 23px;
}
.hours p {
    font-size: 17px;
    line-height: 23px;
    font-weight: normal;
    font-style: normal;
}
.main_page_language_selector {
    text-transform: uppercase;
}
.hours_opened,
.hours_closed {
    padding-top: 8px;
}
.content_wrapper span {
    font-family: 'Special Elite';
}
.note-editor .note-editable {
    font-family: 'Special Elite';
    font-size: 24px;
}