.restaurant_name {
    font-family: 'Special Elite';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 46px;
}
h1 {
    font-family: 'Special Elite';
    font-weight: normal;
}
h4,
h5,
span,
h6,
p,
.hours,.main_page_language_selector,
.nav li,
#footer .powered_by_dishgo,
.menu_container .language_selector,
.contact_wrapper {
    font-family: 'Special Elite'!important;
}
h2,
h3 {
    font-family: 'Special Elite';
}
#footer #opened_or_closed_footer {
    text-transform: uppercase;
}
.menu_container h1 {
    line-height: 46px;
    font-size: 43px;
    font-family: 'Special Elite'!important;
}
.menu_container h2 {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    font-style: italic;
}
.menu_container p {
    font-family: 'Josefin Slab'!important;
    font-size: 17px !important;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
}
.menu_container .dish_price i {
    font-family: 'Special Elite';
    font-size: 17px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
}
.menu_container .dish-price i {
    font-family: 'Special Elite';
    font-style: italic;
}
address {
    font-size: 17px;
    line-height: 23px;
}
.hours p {
    font-size: 17px;
    line-height: 23px;
    font-weight: normal;
    font-style: normal;
}
.main_page_language_selector {
    text-transform: uppercase;
}
.hours_opened,
.hours_closed {
    padding-top: 8px;
}
.content_wrapper p {
    font-size: 18px;
}
.contact_wrapper a {
    font-size: 17px;
}
/*.note-editor .note-editable {
    font-family: 'Special Elite';
    font-size: 24px;
}*/