    <div class="container">
        <div class="resto-contact" data-bind="with: restaurant">
            <address>
                <strong data-bind="text: name"></strong><br>
                <strong data-bind="text: address"></strong><br>
                <abbr title="Phone">P:</abbr>
                <strong data-bind="text: phone"></strong><br>
            </address>
        </div>

        <!-- ko foreach: menu -->
                <div class="row">
                    <div class="dish-section-title">
                        <div class="col-md-4">
                            <hr class="hidden-xs">
                        </div>
                        <div class="col-md-4">
                            <h1 class="text-center" data-bind="text: name"></h1>
                        </div>
                        <div class="col-md-4">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- ko foreach: dishes -->
                        <div class="col-md-4">                
                            <div class="row">
                                <div class="dish-picture">
                                    <div class="col-md-12">
                                        <img src="/assets/logo.png" class="img-responsive" data-bind="attr:{src:large_title_image}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="dish-title">
                                    <div class="col-md-9 col-xs-9" data-bind="text: name">
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <div class="dish-price">
                                        <i data-bind="text: computed_price"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="dish-description">
                                    <div class="col-md-12">
                                        <p data-bind="text: description"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="dish-options">
                                    <div class="col-md-12">
                                        <a href="#" class="btn btn-success" id="create">Options</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="sizes">
                                    <div class="col-md-9">
                                    </div>
                                </div>  
                            </div>
                        </div>
                    <!-- /ko -->
                </div>
        <!-- /ko -->

    <%= javascript_include_tag "menu_editor" %>

    <script type='text/javascript'>
        var restaurant_id = "<%= params[:restaurant_id]%>";
        var menu_data = <%= raw(@menu_data) %>;
        var resto_data = <%= raw(@resto_data.to_json) %>;
        var image_crop_url = "/administration/crop_image";
        var icon_upload_url = "/administration/upload_icon"
        var image_upload_url = "/administration/upload_image"    
        editing_mode = false;    
        ko.applyBindings(new MenuViewModel());

        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });

    </script>   

