			<div class="row">
				<div class="col-xs-12">
					<h1 class="text-center">Sign in to Dish<r>Go</r></h1>
					<hr>
				</div>
			</div>
			<form class="form-horizontal" role="form" id="sign-up-form" method="post" action="<%= session_path(resource_name) %>">
				<div class="row" style="margin-bottom: 0px;">
					<div class="col-sm-10 col-sm-offset-2">
						<%= render 'shared/error_messages' %>
						<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="email" class="form-control" id="user_email" name="user[email]" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Password">
					</div>
				</div>
				<input name="user[remember_me]" type="hidden" value="1">
				<div class="row">
					<button class="btn btn-success col-sm-10 col-sm-offset-1" type="submit">Sign In<i class="fa fa-chevron-right" style="margin-left: 20px; font-size: 12px;"></i></button>
				</div>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1" id="shared_links">
						<%= render "devise/shared/links" %>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="secured">
							<i class="fa fa-lock"></i> Your information is secure with DishGo
						</div>
					</div>
				</div>
			</form>


