 <!-- TEMPLATES -->
    <script id="size" type="text/html">
        <div class="col-xs-12 text-center push_down" id="no_padding">
            <div class="option"> 
                <div class="dish_top">
                    <img src="/app/public/icon@2x.png" width="25" class="icon">
                    <div class="option_title">
                        <span data-bind="lText: name"></span>      
                    </div>                       
                </div>              
                <div class="option_section" id="no_padding">
                <div class="col-xs-12 text-center"></div>
                    <em id="white_uppercase">Add all dish sizes and prices.</em>         
                    <!-- ko foreach: individual_options -->
                        <div class="col-xs-12 push_down">
                            <div class="individual_option">                 
                                    <div class="col-xs-6">
                                            <input data-bind="lValue: name, valueUpdate: 'afterkeydown'" class="form-control"/>                
                                    </div>
                                    <div class="col-xs-6">              
                                        <div class="input-group ">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control price_filter" data-bind="price: price, valueUpdate: 'afterkeydown'">
                                        </div>  
                                    </div>  
                                </div>
                                <!-- ko if: $index() > 1 -->
                                    <span class="sizeCloseButton glyphicon glyphicon-remove-circle" data-bind="click: $parent.remove"></span>
                                <!-- /ko -->
                        </div> 
                    <!-- /ko -->
                    <div class="col-xs-12 push_down text-left" id="extra_padding">
                        <button class="btn btn-section btn-block" data-bind="click: addSize">+ Add Size</button>
                    </div>
                </div>
            </div>
        </div> 
    </script>

    <script id="image" type="text/html">
        <div class="col-xs-12 push_down">
            <div data-bind="visible: !failed()">
                <div class="uploading_image" data-bind="visible: !completed()">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: progressValue() + '%'}"></div>
                        </div>    
                    </div> 
                </div> 
                <div class="completed_image" data-bind="visible: completed">
                    <div class="col-xs-12 text-center">
                        <div class="thumbnail" data-bind="style:{borderColor: official_site_image() ? 'green' : 'red'}">
                            <img class="img-rounded" data-bind="attr: {src: url}" />
                            <div class="caption">
                                <div class="col-xs-4 pull-left">
                                    <span class="btn btn-dish" data-bind="click: function(){ $data.official_site_image(true); $data.setProperties(); }">
                                        <i class="glyphicon glyphicon-edit"></i> Show
                                    </span>                     
                                </div>
                                <!-- these if else are for user uploaded images, or for restauratns uploaded -->
                                <!-- ko if: api_upload -->
                                    <div class="col-xs-4 user_image">
                                        <p>User Uploaded Image.</p>
                                    </div>
                                    <div class="col-xs-4 pull-right">
                                        <span class="btn btn-warning" data-bind="click: function(){ $data.official_site_image(false); $data.setProperties(); }">
                                            <i class="glyphicon glyphicon-remove"></i> Dont Show
                                        </span>                     
                                    </div>
                                <!-- /ko --> 
                                <!-- ko ifnot: api_upload -->
                                    <div class="col-xs-4 pull-right">
                                        <span class="btn btn-warning" data-bind="click: function(){ $parent.removeImage($data) }">
                                            <i class="glyphicon glyphicon-remove"></i> Delete
                                        </span>                     
                                    </div>
                                <!-- /ko -->                                                             
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div data-bind="visible: failed()">
                <div class="alert alert-warning alert-dismissable text-center">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong>Warning!</strong> There was a problem processing your image. Please contact support.
                </div>                
            </div>
        </div>
        <div data-bind="template: { name: 'edit_image', data: $data}"></div>      
    </script> 

    <script id="edit_image" type="text/html">
        <div class="modal fade" data-bind="attr{id:id}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Crop Image</h4>
              </div>
              <div class="modal-body text-center">
                <div style="display: inline-block">
                    <img data-bind="jcrop:{src:original,height:image_height,width:image_width}"/>                 
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </script>       

    <script id="icon" type="text/html">
        <div class="col-xs-12 push_down">
            <div class="uploading_image" data-bind="visible: !completed()">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="progress" style="height: 10px">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: progressValue() + '%'}"></div>
                    </div>    
                </div> 
            </div> 
            <div class="completed_image" data-bind="visible: completed">
                <div class="col-xs-12 text-center">
                    <img class="thumbnail img-rounded" data-bind="attr: {src: url}" />
                </div> 
            </div>  
        </div>
    </script>     

    <script id="default" type="text/html">
        <div class="col-xs-12 form-horizontal option_default">
            <div class="option">
                <div class="more_options">          
                    <div class="dish_top">
                        <img src="/app/public/icon@2x.png" width="25" class="icon">
                        <div class="option_title">
                            <span>Option</span>      
                        </div>  
                        <span class="dish_close_icon glyphicon glyphicon-remove" data-bind="click: $parent.remove"></span>               
                    </div>  

                    <div class="form-group" style="margin-bottom: 0px;">
                        <div class="col-xs-12">
                        <em id="white_uppercase"  data-bind="lText: option_title">Add option title. EG. SIDES or TOPPINGS</em>
                        </div>
                        <div class="col-xs-12 push_down">
                            <input class="form-control " data-bind="lValue: name, valueUpdate: 'afterkeydown', attr:{placeholder:placeholder}"/>
                        </div>
                    </div>   

                    <div class="col-xs-12" id="no_padding">
                        <div class="form-inline control_piece text-left">
                                <div class="checkbox">
                                    <label><input data-bind="checked: extra_cost" type="checkbox"><em id="white_uppercase"> Do these options cost extra? </em></label>
                                </div>
                        </div>                              
                    </div>                                
                    <div data-bind="foreach: individual_options">
                        <div class="col-xs-12 push_down individual_option_container">

                            <div class="individual_option push_down">
                                <div class="col-xs-12">
                                    <em id="uppercase">Add individual options. E.G. FRIES, PEPPERONI</em>
                                </div>
                                <div class="form-group" style="margin-bottom: 0px;">
                                    <div class="col-xs-8 push_down">
                                        <input class="form-control " data-bind="lValue: name, valueUpdate: 'afterkeydown', attr:{placeholder:placeholder}"/>
                                    </div>               
                                    <div data-bind="visible: $parent.extra_cost()">
                                        <div class="col-xs-4 push_down"style="padding-left: 0px;" data-bind="visible: !price_according_to_size()">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" class="form-control price_filter" data-bind="price: price, valueUpdate: 'afterkeydown'">
                                            </div>                                        
                                        </div>
                                        <div class="col-xs-12"  data-bind="visible: $parent.multiple_prices">
                                            <div class="form-inline control_piece text-left">
                                                    <div class="checkbox">
                                                        <label><input data-bind="checked: price_according_to_size" type="checkbox"><em id="uppercase"> Does the price depend on the dish size?</em></label>
                                                    </div>
                                            </div>                              
                                        </div>
                                        <div class="col-xs-12" data-bind="visible: price_according_to_size">             
                                            <!-- ko foreach: size_prices -->
                                                <div class="col-xs-12 push_down">
                                                        <strong class="price_option_label col-xs-7" data-bind="lText: name"></strong>
                                                        <div class="input-group col-xs-5">
                                                            <span class="input-group-addon">$</span>
                                                            <input type="text" class="form-control price_filter" data-bind="price: price, valueUpdate: 'afterkeydown'">
                                                        </div>                                                                                
                                                </div>
                                            <!-- /ko -->
                                        </div>                                  
                                    </div>
                                </div>     

                                <div class="col-xs-5" id="no_padding">
                                    <!-- ICON UPLOADER -->
                                    <!-- ko with: icon -->
                                        <div data-bind="template: { name: 'icon', data: $data}"></div>  
                                    <!-- /ko -->                                  
                                    <span class="push_down btn btn-dish btn-block file_upload_button">
                                        <i class="glyphicon glyphicon-picture"></i>
                                        <span>Option Icon</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input data-bind="file_upload_icon" id="fileupload" type="file" accept="images/*" capture="camera" name="files"  class="file_upload_input">
                                    </span> 
                                </div>                                                     
                            </div>
                            <!-- ko if: $index() >= 1 -->
                                <span class="suboptionCloseButton glyphicon glyphicon-remove-circle" data-bind="click: $parent.remove"></span>
                            <!-- /ko -->                        
                        </div> 
                    </div>

                    <div class="col-xs-12 push_down" id="no_padding">
                        <div class="form-inline control_piece text-left">
                            <div class="control_piece_center">
                              <div class="checkbox">
                                <label><input data-bind="checked: advanced" type="checkbox"><em id="white_uppercase"> Show advanced options?</em></label>
                              </div>
                            </div>                              
                        </div>
                    </div>              

                    <div data-bind="visible: advanced, click: function(){ console.log($data.min_selections() + ' ' + $data.max_selections()) }">
                        <div class="col-xs-12 push_down">
                            <div class="col-xs-7" id="white" style="text-align: right">
                                <span class="selection_constraint_label">Minimum selection:</span>
                            </div>
                            <div class="col-xs-5">
                                <select class="form-control" data-bind="options: min_selection_list, value: min_selections"></select>   
                            </div>  
                        </div>      

                        <div class="col-xs-12 push_down">
                            <div class="col-xs-7" id="white" style="text-align: right">
                                <span class="selection_constraint_label">Maximum selection:</span>
                            </div>
                            <div class="col-xs-5">
                                <select class="form-control" data-bind="value: max_selections, options: max_selection_list"></select>   
                            </div>  
                        </div>
                    </div>                              

                    <div class="col-xs-12 push_down" id="no_padding">
                        <button class="btn btn btn-dish btn-block" data-bind="click: addOption">+ Add Suboption</button>
                    </div>
                </div>              
            </div>
        </div> 
    </script>  