                <div class="dish_section">
                    <div class="dish_top">
                        <img src="/app/public/icon@2x.png" width="25" class="icon">
                        <div class="language_selector_menu_edit" data-bind="visible: $root.show_lang">
                            <select data-bind="options: $root.languages, value: $root.lang"></select>                
                        </div>
                        <div class="option_title">
                            <span data-bind="click: printJson">Dish Builder</span>      
                        </div>                          
                        <span class="dish_close_icon glyphicon glyphicon glyphicon-remove" data-bind="click: function(){ topmodel.remove($data) }"></span>                        
                    </div>                        
                    <div class="dish">
                        <div class="col-xs-12 push_down">
                            <div class="col-xs-7 ">
                                <input data-bind="lValue: name, valueUpdate: 'afterkeydown'" class="form-control col-xs-12 dish_name tooltipclass" data-toggle="tooltip" data-placement="top" title="Type the dish name into this box." placeholder="Add Dish Title"> 
                            </div>
                            <div class="col-xs-4 col-xs-offset-1">
                                <div class="input-group " data-bind="visible: !sizes()">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control tooltipclass price_filter" data-bind="price: price, valueUpdate: 'afterkeydown'" data-toggle="tooltip" data-placement="top" title="Type the dish price into this box." placeholder="">
                                </div>                                      
                            </div>
                        </div>
                        <div class="col-xs-12 push_down">
                            <textarea rows="6" data-bind="lValue: description, valueUpdate: 'afterkeydown'" class="description form-control tooltipclass" data-toggle="tooltip" data-placement="top" title="Type the dish description into this box." placeholder="Add Dish Description"></textarea>
                        </div>

                        <div data-bind="template: { name: 'image', foreach: images}"></div>  

                    </div>  
                        <div class="dish_button">
                            <div class="col-xs-12 push_down">
                                <span class="btn btn-block btn-section file_upload_button">
                                    <i class="glyphicon glyphicon-picture"></i>
                                    <span>Add Dish Image</span>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input data-bind="file_upload" id="fileupload" type="file" name="files"  class="file_upload_input" accept="images/*" capture="camera">
                                </span>                                                                                     
                            </div>
                            <div class="col-xs-12 push_down">
                                <div class="col-left form-inline control_piece">
                                    <div class="control_piece_center">
                                        <div class="checkbox">
                                            <label><input data-bind="checked: sizes" type="checkbox"><em id="uppercase"> Does this dish have multiple sizes?</em></label>
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                        </div>
                        <div data-bind="template: { name: 'size', data: sizes_object }, visible: sizes"></div>
                        <div data-bind="template: { name: templateToUse, foreach: options }"></div>
                            <div class="dish_button">
                                <div class="col-xs-6 text-center push_down">
                                    <button class="btn btn-section btn-block" data-bind="click: addOption">+ New Dish Option</button>
                                </div>
                                <div class="col-xs-6 text-center push_down">
                                    <button class="btn btn-section btn-block" data-bind="click: copyOption">+ Copy Dish Option</button>
                                </div>                                
                            </div>                
                        </div>