    <div class="col-md-5 section_section sortable_container col-md-offset-1">
        <div class="dish_top">
            <img src="/app/public/icon@2x.png" width="25" class="icon">
            <div class="language_selector_menu_edit" data-bind="visible: $root.show_lang">
                <select data-bind="options: $root.languages, value: $root.lang"></select>                
            </div>            
            <div class="option_title">
                <span>Current Menu Details</span>      
            </div>                          
            <span class="dish_close_icon glyphicon glyphicon glyphicon-remove" data-bind="click: removeMenu"></span>                        
        </div>                        
        <div class="dish">
            <div class="col-xs-12 push_down">
                <div class="col-xs-12" style="text-align: left">
                    <label>Menu Title</label>
                    <input data-bind="lValue: name, valueUpdate: 'afterkeydown'" class="form-control col-xs-12 dish_name tooltipclass" data-toggle="tooltip" data-placement="top" title="Type the menu name into this box." placeholder="Add Section Title"/>                   
                </div>                
            </div>
        </div>       
    </div>
