        <div class="section_section">
            <div class="dish_top">
                <img src="/app/public/icon@2x.png" width="25" class="icon">
                <div class="option_title">
                    <span>Section Details</span>      
                </div>                          
                <span class="dish_close_icon glyphicon glyphicon glyphicon-remove" data-bind="click: $parent.remove"></span>                        
            </div>                        
            <div class="dish">
                <div class="col-xs-12 push_down">
                    <div class="col-xs-12" style="text-align: left">
                        <label>Section Title</label>
                        <input data-bind="value: name, valueUpdate: 'afterkeydown'" class="form-control col-xs-12 dish_name tooltipclass" data-toggle="tooltip" data-placement="top" title="Type the section name into this box." placeholder="Add Section Title"> 
                    </div>
                </div>
            </div>
        </div>


