  <div class="container">
 	<div class="intro-splash">
<!-- 		<div class="row text-center">
			<div class="col-xs-12">
				<h1>Please complete each of the following steps.</h1>
			</div>
		</div> -->

		<div class="row">
				<div class="col-sm-4" style="border-right: 1px solid #ccc;">
					<div class="wizard_button">
						<h2>Restaurant Details</h2>
						<p>Here you can edit essential details about your restaurant such as contact details and business hours.</p>
						<a href="/app/profile/edit" class="btn btn-sm btn-rewards">Get Started</a>
					</div>
				</div>
			
				<div class="col-sm-4" style="border-right: 1px solid #ccc;">
					<div class="wizard_button">
						<h2>Website Builder</h2>
						<p>Build or Edit your website. You can choose different looks and upload custom background pictures.</p>
						<a href="/app/website/index" class="btn btn-sm btn-rewards">Get Started</a>		
					</div>
				</div>

				<% if current_user.owns_restaurants %>
					<div class="col-sm-4">
						<div class="wizard_button">
							<h2>Menu Builder</h2>
							<p>Build or edit your beautiful interactive menu. When you're finished, publish it for the world to see.</p>
							<a href="/app/administration/edit_menu?restaurant_id=<%= current_user.owns_restaurants.id %>" class="btn btn-sm btn-rewards">Get Started</a>		
						</div>
					</div>
				<% end %>
		</div>
	</div>
</div>

<% if current_user.owns_restaurants and (!current_user.owns_restaurants.host.blank? or !current_user.owns_restaurants.subdomain.blank?) %>
	<%= render 'analytics' %>
<% end %>

<!-- Google Code for Dashboard Page Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 965797339;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "qDelCLX0vgsQ28vDzAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/965797339/?label=qDelCLX0vgsQ28vDzAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
