<div class="container">
    <div class="section-splash">
		<div class="row">
			<div class="col-xs-12">
			<p class="red" style="margin-bottom: 5px;">Getting Started with DishGo</p>
			<h1 style="margin-top: 0px;">Your New Website Begins Here</h1>
			<hr id="splash_line">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<h2>Step1. Restaurant Details</h2>
			<p>First you need to fill out essential details about your restaurant such as the phone number and address.</p>
		</div>
		<div class="col-sm-4">
			<div class="hidden-xs" style="margin-top: 40px;"></div>
			<a href="/app/profile/edit" class="btn btn-lg btn-dish btn-block">Restaurant Details</a>
		</div>
	</div>

	<hr id="splash_line">
	<div class="row">
		<div class="col-sm-8">
			<h2>Step 2. Setup Your Website</h2>
			<p>Now design your website. You can choose different looks and upload custom background pictures.</p>			
		</div>
		<div class="col-sm-4">
			<div class="hidden-xs" style="margin-top: 20px;"></div>
			<a href="/app/website/index" class="btn btn-lg btn-warning btn-block">Website Setup</a>
		</div>
	</div>	

	<hr id="splash_line">
	<div class="row">
		<div class="col-sm-8">
			<h2>Step 3. Build Your Menu</h2>
			<p>Start building your beautiful interactive menu. Once you've created it, you can make changes at any time.</p>			
		</div>
		<div class="col-sm-4">
			<div class="hidden-xs" style="margin-top: 20px;"></div>
			<% if current_user.owns_restaurants %>
				<a href="/app/administration/edit_menu?restaurant_id=<%= current_user.owns_restaurants.id %>" class="btn btn-lg btn-success btn-block">Build a Dish</a>
			<% end %>
		</div>
	</div>
</div>


