 <div class="section-signup">
    <div class="container">
	<div class="row">
		<p>Getting Started with DishGo</p>
		<h1>The Home of Your New Menu</h1>
		<hr>
	</div>
	<div class="row">
		<div class="col-sm-9">
			<h2>Dish Building Tutorials</h2>
			<p>Review some standard dish layouts like Pizzas and Burgers to familiarize yourself with our Dish Builder</p>
		</div>
		<div class="col-sm-3">
			<div class="hidden-xs" style="margin-top: 40px;"></div>
			<button class="btn btn-lg btn-dish btn-block">Learn More</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-9">
			<h2>Profile Details</h2>
			<p>Manage your DishGo profile, restaurant information, app and web listings all conveniently in the profile section</p>
		</div>
		<div class="col-sm-3">
			<div class="hidden-xs" style="margin-top: 40px;"></div>
			<button class="btn btn-lg btn-section btn-block">Manage Profile</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-9">
			<h2>Ready to Jump Right In?</h2>
		</div>
		<div class="col-sm-3">
			<div class="hidden-xs" style="margin-top: 20px;"></div>
			<button class="btn btn-lg btn-success btn-block">Build a Dish</button>
		</div>
	</div>
</div>


