<style type="text/css">
    body {
        background-image: url("https://dishgo.io/app/public/img/sign_up.jpg");
        background-attachment: fixed;
        background-position: top left;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 0px;       
    }
</style>

<div class="resto_setup_container">
    <div class="resto_contents">
        <h2 class="text-center">Find Your Restaurant</h2>
        <hr>
        <div class="start_me_up">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row create_restaurant_row">
                        <div class="col-xs-12">
                            <button class="btn btn-lg btn-primary btn-block" data-bind="click: new_restaurant, fadeVisible: search_name().length > 0">Can't find your restaurant? Create one!</button>                  
                        </div>
                    </div>                     
                     <div class="row" style="margin-top:10px">
                        <div class="col-xs-12">
                            <div class="resto_search_bar">
                                <input class="form-control" data-bind="value: search_name, valueUpdate: 'keyup'" placeholder="Search our database for your restaurant"/>
                                <div class="restaurant_list">
                                    <ul data-bind="visible: filtered_restaurants().length > 0">
                                        <!-- ko foreach: filtered_restaurants -->
                                            <li data-bind="click: function(){ $root.current_restaurant($data)}">
                                                <div class="row">
                                                    <i class="fa fa-arrow-circle-right result_icon"></i>
                                                    <h6 class="col-xs-8" data-bind="text: name"></h6>
                                                    <h6 class="col-xs-4" data-bind="text: address_line_1"></h6>
                                                </div>
                                            </li>
                                        <!-- /ko -->
                                    </ul>
                                </div>                                    
                            </div>                       
                        </div>
                    </div>              
                </div>
            </div>
        </div>
        <div class="resto_claim_box" data-bind="visible: current_restaurant">
            <div class="row">
                <div class="col-xs-12">
                    <!-- ko with: current_restaurant -->
                        <iframe id="map_loc_setup" data-bind="iMap: $data"></iframe>
                        <div data-bind="template: { name: 'restaurant_static_template', data: $parent.current_restaurant }"></div>
                    <!-- /ko -->
                </div>
            </div>       
        </div>
    </div>
</div>

<%= render 'shared/restaurant_static_template' %>
<%= render 'shared/restaurant_javascript' %>
<%= render 'shared/design_javascript' %>

<script id="iMapTemplate" type="text/x-jQuery-tmpl">
    <!DOCTYPE html>
    <html style="width: 100%; height: 100%">
        <head>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmVdO0hER_qFFNZN5C9Du28_-sSblng0Y&sensor=false"></endscript>
        </head>
        <body style="width: 100%; height: 100%; margin: 0px">
            <script type="text/javascript">
                var map;
                function initialize() {
                    var myLatlng = new google.maps.LatLng(LAT,LON);
                    var mapOptions = {
                        zoom: 14,
                        center: myLatlng,
                    };
                    map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        visible: true
                    }); 
                    marker.setMap(map);                             
                }
                google.maps.event.addDomListener(window, 'load', initialize);                   
            </endscript>                
            <div id="map-canvas" style="width: 100%; height: 100%"></div>
        </body>
    </html>
</script>

<script type='text/javascript'>//<![CDATA[

    ko.bindingHandlers.fitText = {
        update: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
            var self = this;
            //console.log("DEBUG: fitText firing on: " + element);
            $(element).fitText(1);
        }
    };

    function viewModel() {

        var self = this;
        self.search_name = ko.observable("");
        self.restaurants = ko.observableArray([]);
        self.restaurants.extend({ throttle: 500 }); 
        self.current_restaurant = ko.observable();
        var initial_search = true;

        self.search_for_restaurant = function() {
            $.ajax({
              type: "POST",
              url: "/app/administration/free_search_restaurants",
              data: {
              },
              success: function(data, textStatus, jqXHR){
                    _.each(data, function(resto){ self.restaurants.push(new Restaurant(resto)) });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 

                },
                dataType: "json"
            });
        };

        self.filtered_restaurants = ko.computed(function(){
            var regex = new RegExp(self.search_name(),"i");
            if(self.search_name() == ""){
                return [];
            }
            return _.filter(self.restaurants(), function(resto){
                if(resto.name().match(regex)){
                    return true;
                } else {
                    return false;
                }
            });
        });
   

        self.set_restaurant = function(resto) {
            self.current_restaurant(resto);
        };

        self.setRestaurant = function(){
            $.ajax({
              type: "POST",
              url: "/app/administration/set_restaurant",
              data: {
                data: ko.toJSON(self.current_restaurant),
              },
                success: function(data, textStatus, jqXHR){
                    console.log("success");
                    window.location.href = "/app";
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("error: " + errorThrown);
                },
                dataType: "json"
            });             
        }

        self.new_restaurant = function(){
            $.ajax({
              type: "POST",
              url: "/app/administration/create_restaurant",
              data: {
                data: ko.toJSON(self.current_restaurant),
              },
                success: function(data, textStatus, jqXHR){
                    console.log("success");
                    window.location.href = "/app";
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("error: " + errorThrown);
                },
                dataType: "json"
            });    
        }

        self.search_for_restaurant();   

    };

    ko.bindingHandlers.fadeVisible = {
        init: function(element, valueAccessor) {
            var value = valueAccessor();
            $(element).toggle(ko.unwrap(value)); 
        },
        update: function(element, valueAccessor) {
            var value = valueAccessor();
            ko.unwrap(value) ? $(element).fadeIn() : $(element).fadeOut();
        }
    };

    ko.bindingHandlers.iMap = {
        update: function (element, valueAccessor) {
            var value = valueAccessor();
            $(function(){   
                var html = $('#iMapTemplate').text().replace(/endscript/g, 'script');
                var html = html.replace(/LAT/g, value.lat());
                var html = html.replace(/LON/g, value.lon());
                $(element)[0].contentWindow.document.open('text/html', 'replace');
                $(element)[0].contentWindow.document.write(html);
                $(element)[0].contentWindow.document.close();
            });                           
        }
    };  

    var viewmodel = new viewModel();
    ko.applyBindings(viewmodel);

//]]>  
</script>

