body {
	color: #fff;
}

body a:active, a:visited, a {
	color: #fff;
}

#social_media_footer {
	position: absolute;
	right: 15px;
	text-align: center;
	width: 100%;
	display: block;
}

#left_menu i {
	font-size: 38px;
	color: #fff;
}


#left_menu {
	font-family: 'Fjalla One', sans-serif;	
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	padding-left: 20px;
	left: 0px;
	display: block;
}

#left_menu_background {
	display: block;
	width: 100%;
	min-height: 85px;
	opacity: 0.85;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -5;
	background-color: rgb(248, 255, 199);
  	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

#footer {
	font-family: 'Fjalla One', sans-serif;	
	display: block;
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0px;
	padding-left: 20px;
	left: 0px;
}

#footer_background {
	width: 100%;
	display: block;
	min-height: 85px;
	opacity: 0.85;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: -5;
	background-color: rgb(248, 255, 199);
	-webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
}

#content_wrapper {
	position: absolute;
	width: 600px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 15px;
	color: #fff;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -250px;
/*	border-style: solid;
	border-width: 10px;
	-moz-border-image: url(choppyborder.jpg) 14 15 15 14;
	-webkit-border-image: url(choppyborder.jpg) 14 15 15 14;
	-o-border-image: url(choppyborder.jpg) 14 15 15 14;
	border-image: url(choppyborder.jpg) 14 15 15 14;*/	
}

.restaurant_name {
	border: 4px solid #000;
	border-left: 0px;
	border-right: 0px;
	width: 140px;
	color: #000;
	font-weight: bold;
	text-transform:uppercase;
	padding: 4px;
	display: inline-block;
}

#navigation_small {

}

.nav a:hover {
	color: #dcdcdc;
}

@media screen and (max-width: 850px) {

	#content_wrapper {
		position: absolute;
		width: 100%;
		height: 500px;
		top: 0px;
		left: initial;
		margin: 0;
		border-radius: 0px;	
	}

	.nav ul {
		padding: 5px;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #fff;
		background: #000 url(images/icon-menu.png) no-repeat 10px 11px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}

	#navigation_small {
		display:block;
	}	

	#left_menu_background {
		display: none;
	}

	#left_menu {
		display: none;
	}

	.nav {
		position: relative;
		min-height: 40px;
		z-index: 500;
	}	
	.nav ul {
		padding: 5px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 5px;
	}

	.nav .icon {
		display: block; /* show only current <li> item */
		font-size: 28px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0;
	}
	.nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}

	/* right nav */
	.nav.right ul {
		left: auto;
		right: 0;
	}

	/* center nav */
	.nav.center ul {
		left: 50%;
		margin-left: -90px;
	}	
	
}