.restaurant_name {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 46px;
    text-transform: uppercase;
}
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
h2,
h3,
h4,
h5,
h6,
p,
.main_page_language_selector,
.nav li,
#footer .powered_by_dishgo,
.menu_container .language_selector,
address {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    font-style: italic;
}
#footer #opened_or_closed_footer {
	text-transform: uppercase;
}
.menu_container h1 {
    font-size: 36px;
    letter-spacing: 1px;
}
.menu_container h2 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
}
.menu_container p,
.menu_container .dish_price i {
	font-family: 'Droid Serif', serif;
	font-size: 16px;
    line-height: 23px;
}
address {
	font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
}
.hours {
	font-family: 'Droid Serif', serif;
}
.hours p {
    font-size: 16px;
    line-height: 23px;
}
.main_page_language_selector {
    text-transform: uppercase;
}