<div class="row">
	<div class="col-xs-12">
		<h3>Congratulations!</h3>
		<h4>Your payment has been received. Very soon your menu will be available in the DishGo app. If you have any questions or comments, please dont hesitate to contact us at info@dishgo.io.</h4>
		<h4>In the meantime, why not setup your password and explore some of the other services we have to offer!</h4>
        <div class="col-xs-12 text-center" style="margin-top: 15px">
    		<a class="btn btn-dish" href="/app/profile/set_password/<%= current_user.setup_link %>" style="width: 50%; display: inline-block">Setup Your Account</a>
    	</div>		
	</div>
</div>


