	<div class="container search_results"  data-bind="visible: top_search() && $root.search_type() == 'dish'" style="display: none">
		<div class="row">
		<!-- ko foreach: dishes -->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="top_dish_container coo_hover" style="border:none; margin-bottom:10px;">
					<a data-bind="attr:{href:'/app/network/restaurant/'+restaurant_id}" class="full_dish_link"></a>
					<div class="dish_title_bar">
						<span class="restaurant_name">
							<!-- ko text: restaurant_name --><!-- /ko -->
						</span>
					</div>					
					<div class="dish-picture imageCroppedFull" data-bind="backgroundImage">						
						<span class="dish_rating">
                            <div class="menu_dish_rating_search" data-bind="starRating: rating"></div>
						</span>
						<div class="dish-description">
							<span data-bind="lText: name"></span>
							<p data-bind="lText: description, maxTextLength: 110"></p>
						</div>
					</div>
				</div>
			</div>
		<!-- /ko -->
			<div class="col-md-4 col-sm-6 col-xs-12" data-bind="visible: top_search">
				<div class="dish_container_none">
					<a href="/app/dishgo/business" class="full_dish_link"></a>
					<div class="row">
						<div class="col-xs-12">
							<img style="padding:30px 30px 0;" src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/small_logo.png" class="img-responsive" alt="DishGo Logo">
							<h2 class="text-center" style="color:#fff;">Add your restaurant</h2>
							<p style="color:#82898d;font-size:16px;"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<a class="btn btn-rewards" style="margin-top:10px">Get Started</a>
						</div>
					</div>					
				</div>
			</div>		
		</div>
	</div>
