		<title>DishGo Network</title>
		<meta name="description" content="Search restaurant menus from the Montreal area. Share your reviews and dish images for amazing rewards.">
		<meta property="fb:app_id"          content="886479778048507" /> 	
		<meta property="og:url"             content="https://dishgo.ca/app/network" /> 
		<meta property="og:title"           content="DishGo Restaurant Network" /> 
		<meta property="og:image"           content="https://d5ca3b0520fac45026ad-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/facebook_share.png" />
		<meta property="og:type"   content="website" />