<script id="admin_set_design_template" type="text/html">
    <div class="col-xs-12">
        <div class="profile_form_wrapper">
            <div class="row">
                <div class="col-xs-10">
                    <select class="form-control" data-bind="options: $root.designs, optionsText: 'name', value: design"></select>
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-primary pull-right" data-bind="click: save">Save</button>
                </div>
            </div>
        </div>
    </div>
</script> 
