<script id="custom_carousel_image" type="text/html">
    <div class="col-xs-12 col-md-4"> 
        <div class="thumbnail col-xs-12">
            <!-- ko if: !fresh() -->        
                <div data-bind="visible: !failed()">
                    <div class="uploading_image" data-bind="visible: !completed()">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="progress" style="height: 10px">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: progressValue() + '%'}"></div>
                            </div>    
                        </div> 
                    </div> 
                    <div class="completed_image" data-bind="visible: completed">
                        <div class="col-xs-12 text-center">
                            <div class="thumbnail">
                                <img class="img-rounded" data-bind="attr: {src: url}" />
                            </div>
                        </div>
                    </div> 
                </div>
                <div data-bind="visible: failed()">
                    <div class="alert alert-warning alert-dismissable text-center">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong>Warning!</strong> There was a problem processing your image. Please contact support.
                    </div>                
                </div>
            <!-- /ko -->
            <div class="caption">
                <!-- ko if: fresh() -->        
                    <span class="btn btn-block btn-dish file_upload_button col-xs-6">
                        <i class="glyphicon glyphicon-picture"></i>
                        <span style="font-family: 'Lato', sans-serif !important;">Upload Image</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input data-bind="file_upload_global_customize" id="fileupload" type="file" name="files"  class="file_upload_input" accept="images/*" capture="camera">
                    </span>                                                                                     
                <!-- /ko --> 
                <!-- ko if: !fresh() -->        
                    <button data-bind="click:$parent.destroyImage" class="btn btn-warning col-xs-12">Remove</button>
                <!-- /ko -->                 
            </div>            
        </div>
    </div>
</script> 

<script id="restaurant_logo" type="text/html">
    <div class="col-xs-12 col-md-6" data-bind="with: logo"> 
        <div class="thumbnail col-xs-12">
            <!-- ko if: !fresh() -->        
                <div data-bind="visible: !failed()">
                    <div class="uploading_image" data-bind="visible: !completed()">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="progress" style="height: 10px">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: progressValue() + '%'}"></div>
                            </div>    
                        </div> 
                    </div> 
                    <div class="completed_image" data-bind="visible: completed">
                        <div class="col-xs-12 text-center">
                            <div class="thumbnail">
                                <img class="img-rounded" data-bind="attr: {src: url}" />
                            </div>
                        </div>
                    </div> 
                </div>
                <div data-bind="visible: failed()">
                    <div class="alert alert-warning alert-dismissable text-center">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong>Warning!</strong> There was a problem processing your image. Please contact support.
                    </div>                
                </div>
            <!-- /ko -->
            <div class="caption">        
                <span class="btn btn-block btn-dish file_upload_button col-xs-6">
                    <i class="glyphicon glyphicon-picture"></i>
                    <span data-bind="text: computedImageUpload" style="font-family: 'Lato', sans-serif !important;">Upload Image</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input data-bind="file_upload_logo" id="fileupload" type="file" name="files"  class="file_upload_input" accept="images/*" capture="camera">
                </span>                                                                                                   
            </div>            
        </div>
    </div>
    <div class="col-xs-12 col-md-6" data-bind="visible: logo().completed, with: logo_settings"> 
        <div class="row">
            <div class="col-xs-12">
                <h3 style="font-family:'Oswald', sans-serif !important;">Do you want your logo to appear at the top?</h3>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" data-bind="checked: logo_as_image">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" data-bind="if: logo_as_image">
            <div class="col-xs-12">
                <h3 style="font-family:'Oswald', sans-serif !important;">Size:</h3>
                <div data-bind="slider: [image_height,50,250]"></div>
                <h3 style="font-family:'Oswald', sans-serif !important;">Border Size:</h3>
                <div data-bind="slider: [border_size,0,10]"></div>
                <div class="row" style="margin: 0 -15px;">
                    <h3 class="col-xs-6" style="font-family:'Oswald', sans-serif !important;">Border Color:</h3>
                    <div class="colorpicker_box col-xs-6" data-bind="colorpicker: border_color"></div>                
                </div>                
                <h3 style="font-family:'Oswald', sans-serif !important;">Round Corners:</h3>
                <div data-bind="slider: [border_radius,0,150]"></div>
            </div>
        </div>        
    </div>
</script> 

<script id="customize_design_image" type="text/html">
    <div class="col-xs-12 col-md-6">
        <div class="col-xs-12 text-center">
            <!-- ko if: custom -->
                <!-- ko if: !fresh() -->        
                    <div data-bind="visible: !failed()">
                        <div class="uploading_image" data-bind="visible: !completed()">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="progress" style="height: 10px">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: progressValue() + '%'}"></div>
                                </div>    
                            </div> 
                        </div> 
                        <div class="completed_image" data-bind="visible: completed">
                            <div class="col-xs-12 text-center">
                                <div class="thumbnail">
                                    <img class="img-rounded" data-bind="attr: {src: url}" />
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div data-bind="visible: failed()">
                        <div class="alert alert-warning alert-dismissable text-center">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          <strong>Warning!</strong> There was a problem processing your image. Please contact support.
                        </div>                
                    </div>
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: !custom() -->
                <div class="image_dropdown">
                    <img data-bind="attr:{src:defaultImage().url()}, click: drop">
                    <div class="image_dropdown_div" data-bind="visible: dropdowning, event: {mouseleave: dropdowning(false)}">
                        <ul data-bind="foreach: global_images">
                            <!-- ko if: url() != '' -->
                                <li><img data-bind="click: $parent.setDefault, attr:{src:url}"></li>
                            <!-- /ko -->
                        </ul> 
                    </div>
                    <i class="glyphicon glyphicon-collapse-down icon_dropdown"></i>
                </div>
            <!-- /ko -->                            
        </div>      
    </div>    
</script> 

<script id="text_content_template" type="text/html">  
    <div class="website_content">
        <textarea autofocus="on" data-bind="wysiwyg: html" style="width: 100%; height: 100%"></textarea>
    </div> 
</script>

<script id="pick_design_template" type="text/html">
    <div class="col-xs-12 col-md-5 design_box" data-bind="css:{selected: $data === $root.current_design()}, click: $root.setDesign">
        <img data-bind="attr:{src: $data.example_image().url()}" />
    </div>
</script>

<script id="customize_font_template" type="text/html">
    <div class="col-xs-12" style="padding-bottom: 40px;">
        <div class="fonts" data-bind="foreach: fonts">
            <div class="col-md-5 select_object" data-bind="css:{selected: $data === $root.current_font()}, click: $root.setFont">
                <iframe class="col-xs-12 col-md-5 font_demo" data-bind="iFrame: $data"></iframe>
            </div>
        </div>
    </div>  
</script>

<script id="customize_carousel_template" type="text/html">
    <div class="col-xs-12" style="padding-bottom: 40px;">
        <div data-bind="template: { name: 'custom_carousel_image', foreach: carousel}"></div>
    </div>  
</script>

<script id="customize_design_template" type="text/html">
    <div class="col-xs-12">
        <div data-bind="template: { name: 'customize_design_image', foreach: global_images}"></div>
    </div>
</script>

<script id="email_addresses" type="text/html">
    <div class="col-xs-12">
        <div class="row" style="margin-top: 5px">
            <div class="col-xs-4">
                <h4>Name</h4>
            </div>
            <div class="col-xs-4">
                <h4>Email</h4>
            </div> 
            <div class="col-xs-4">
                <h4>Phone</h4>
            </div>                                    
        </div>    
        <!-- ko foreach: email_addresses -->
            <div class="row" style="margin-top: 10px">
                <div class="col-xs-4">
                    <input class="form-control input-sm" placeholder="Name" data-bind="value: name">
                </div>
                <div class="col-xs-4">
                    <input class="form-control input-sm" placeholder="Email" data-bind="value: email">
                </div>
                <div class="col-xs-4">
                    <input class="form-control input-sm" placeholder="Phone" data-bind="value: phone">
                </div>                
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-xs-9">
                    <input class="form-control input-sm" placeholder="Subject When User Clicks on Email" data-bind="value: subject">
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-danger btn-sm pull-right" data-bind="click: function(){ $parent.remove_email($data) }" style="width: 100%">Remove</button>
                </div>                                       
            </div>            
        <!-- /ko -->
        <div class="row" style="margin-top: 15px">
            <button class="btn btn-sm btn-info pull-right col-xs-6" data-bind="click: addEmail, disable: email_addresses().length > 2">Add Email</button>
        </div>
    </div>
</script>