<script id="design_template" type="text/html">
    <div class="col-xs-12 col-md-6">
        <h4 data-bind="text: name"></h4>
        <textarea rows="6" data-bind="value: css" placeholder="Design Specific CSS."></textarea>
    </div>
</script>

<script id="create_design_template" type="text/html">
    <div class="col-xs-12 col-md-6">
        <input class="form-control" data-bind="value: name" />
        <textarea rows="6" data-bind="value: css" placeholder="Design Specific CSS."></textarea>
    </div>
</script>