<script id="design_image" type="text/html">
    <div class="col-xs-12 push_down">

        <div class="col-md-6 form">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Image Properties:</h4>
                    <div class="form-group">
                        <label>Name: </label><input class="form-control" data-bind="value: name" />
                    </div>
                    <div class="form-group">
                        <label>Customizable: </label><input type="checkbox" data-bind="checked: customizable" />
                    </div>
                    <div class="form-group">
                        <label>Description: </label><input class="form-control" data-bind="value: description" />
                    </div>
                </div>
            </div>
        </div> 

        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-12">
                    <h4>CSS With Image:</h4>
                    <textarea rows="10" data-bind="value: css, codemirror: { lineNumbers: true, matchBrackets: true, mode: 'text/css', theme:'lesser-dark', value:css }" placeholder="Image Specific CSS." style="width: 100%"></textarea>
                </div>
            </div>  
        </div> 

        <!-- ko foreach: global_images -->
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail col-xs-12">
                    <!-- ko if: !fresh() -->        
                        <div data-bind="visible: !failed()">
                            <div class="uploading_image" data-bind="visible: !completed()">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <div class="progress" style="height: 10px">
                                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: progressValue() + '%'}"></div>
                                    </div>    
                                </div> 
                            </div> 
                            <div class="completed_image" data-bind="visible: completed">
                                <div class="col-xs-12 text-center">
                                    <div class="thumbnail">
                                        <img class="img-rounded" data-bind="attr: {src: url}" />
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div data-bind="visible: failed()">
                            <div class="alert alert-warning alert-dismissable text-center">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              <strong>Warning!</strong> There was a problem processing your image. Please contact support.
                            </div>                
                        </div>
                    <!-- /ko -->
                    <div class="caption">
                        <span class="btn btn-block btn-section file_upload_button col-xs-6">
                            <i class="glyphicon glyphicon-picture"></i>
                            <span data-bind="text: computedImageUpload">Upload Image</span>
                            <input data-bind="file_upload_global" id="fileupload" type="file" name="files"  class="file_upload_input" accept="images/*" capture="camera">
                        </span>
                    </div>                   
                </div>               
            </div>               
        <!-- /ko --> 
    </div>
    <hr class="col-xs-12">
</script> 

<script id="carousel_image" type="text/html">
    <div class="col-xs-12 col-md-4"> 
        <div class="thumbnail col-xs-12">
            <!-- ko if: !fresh() -->        
                <div data-bind="visible: !failed()">
                    <div class="uploading_image" data-bind="visible: !completed()">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="progress" style="height: 10px">
                                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: progressValue() + '%'}"></div>
                            </div>    
                        </div> 
                    </div> 
                    <div class="completed_image" data-bind="visible: completed">
                        <div class="col-xs-12 text-center">
                            <div class="thumbnail">
                                <img class="img-rounded" data-bind="attr: {src: url}" />
                            </div>
                        </div>
                    </div> 
                </div>
                <div data-bind="visible: failed()">
                    <div class="alert alert-warning alert-dismissable text-center">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong>Warning!</strong> There was a problem processing your image. Please contact support.
                    </div>                
                </div>
            <!-- /ko -->
            <div class="caption">
                <!-- ko if: fresh() -->        
                    <span class="btn btn-block btn-section file_upload_button col-xs-6">
                        <i class="glyphicon glyphicon-picture"></i>
                        <span>Upload Image</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input data-bind="file_upload_global" id="fileupload" type="file" name="files"  class="file_upload_input" accept="images/*" capture="camera">
                    </span>                                                                                     
                <!-- /ko --> 
            </div>            
        </div>
    </div>
</script> 

<script id="create_design_template" type="text/html">
    <div class="col-xs-12 jumbotron">
    	<h3 data-bind="text: $root.designFormTitle"></h3>
        <p>
            <input class="form-control" data-bind="value: name" />
        </p>

        <div class="row">
            <h4>CSS:</h4>
            <textarea rows="50" data-bind="value: css, codemirror: { lineNumbers: true, matchBrackets: true, mode: 'text/css', theme:'lesser-dark', value:css }" placeholder="Design Specific CSS." style="width: 100%"></textarea>
        </div>

        <div class="row">
            <h4>Menu CSS:</h4>
            <textarea rows="50" data-bind="value: menu_css, codemirror: { lineNumbers: true, matchBrackets: true, mode: 'text/css', theme:'lesser-dark', value:menu_css }" placeholder="Menu Specific CSS." style="width: 100%"></textarea>
        </div>

        <div class="row">
            <h4>Fonts:</h4>
            <textarea rows="50" data-bind="value: fonts, codemirror: { lineNumbers: true, matchBrackets: true, mode: 'text/css', theme:'lesser-dark', value:fonts }" placeholder="Menu Specific Fonts." style="width: 100%"></textarea>
        </div>        

        <div class="row">
            <h4>Static Images</h4>
            <div data-bind="template: { name: 'design_image', foreach: global_images}"></div>
            <button class="btn btn-info col-xs-12" data-bind="click: addImage">Create New Image Class Image</button>
        </div>  

        <div class="row">
            <h4>Carousel Images</h4>
            <div data-bind="template: { name: 'carousel_image', foreach: carousel}"></div> 
        </div>      

       <div class="row">
            <button class="btn btn-warning pull-left" data-bind="visible: new_design,click: $root.destroyDesign">Destroy</button>
            <button class="btn btn-primary pull-right" data-bind="click: $root.updateDesign, text: $root.createNewDesignButton">Create</button>
        </div>
    </div>
</script>