<script id="gallery_image" type="text/html">
        <div class="col-xs-4 push_down">
            <div data-bind="visible: !failed()">
                <div class="uploading_image" data-bind="visible: !completed() && started()">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="progress" style="height: 10px">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: progressValue() + '%'}"></div>
                        </div>    
                    </div> 
                </div> 
                <div class="completed_image" data-bind="visible: completed">
                    <img class="img-responsive" data-bind="attr: {src: url}" />
                </div> 
            </div>
            <div data-bind="visible: failed()">
                <div class="alert alert-warning alert-dismissable text-center">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong>Warning!</strong> There was a problem processing your image. Please contact support.
                </div>                
            </div>
        </div>
</script> 