<script id="hours_template" type="text/html">
<div class="col-md-6">
  <div class="profile_form_wrapper">

        <h2 class="text-center">Restaurant Hours</h2>

        <div class="col-xs-12">
          <div class="col-xs-3">
            <p class="text-right"><strong>Day</strong></p>
          </div>        
          <div class="col-xs-3">
            <p class="text-center"><strong>Status</strong></p>
          </div>        
          <div class="col-xs-3">
            <p class="text-center"><strong>Opening hours</strong></p>
          </div>
          <div class="col-xs-3">
            <p class="text-center"><strong>Closing hours</strong></p>
          </div>
        </div>

        <form class="form-horizontal col-xs-12" role="form" id="business-hours-form">
          <!-- ko foreach: hours -->
            <div class="row">
              <label class="col-xs-3 control-label"><i class="glyphicon glyphicon-time hidden-xs"></i> <!-- ko text: name --><!-- /ko --></label>

              <div class="col-xs-3 text-center">
                <button class="btn" data-bind="css:{ 'btn-success':!closed(), 'btn-danger': closed }, click: toggleClosed"><!-- ko text: buttonText--><!--/ko--><span class="glyphicon glyphicon-hand-up" style="margin-left: 5px"></span></button>
              </div>

              <div data-bind="visible: !closed()">
                <div class="col-xs-3">
                  <div class="controls" data-bind="css:{'has-error':validateOpen_1}">
                    <select class="form-control" data-bind="options: times, value: open_1, optionsCaption: 'Opened at...'"></select>
                  </div>
                </div>

                <div class="col-xs-3">
                  <div class="controls" data-bind="css:{'has-error':validateClose_1}">
                    <select class="form-control" data-bind="options: times, value: close_1, optionsCaption: 'Closed at...'"></select>
                  </div>
                </div>
              </div>

            </div>
          <!-- /ko -->
        </form>

        <div class="row" style="margin-top: 20px; margin-bottom: 0px;">
          <div class="col-xs-12">
            <button class="btn btn-primary pull-right" data-bind="click: save">Save</div>
          </div>
        </div>
  </div>
</div>
</script>