<script id="notifications_template" type="text/html">
    <div class="col-md-6">
        <div class="profile_form_wrapper">
            <div class="row">
                <div class="col-xs-12">
	                <h2 class="text-center">Notifications</h2>
	                <div class="col-xs-12 row" data-bind="foreach: notifications">
	                	<ul class="bell">
	                    	<li><span data-bind="text: message"></span></li>
	                    </ul>
	                </div>
                </div>
            </div>
        </div>
    </div>
</script>