<script id="restaurant_template" type="text/html">
    <div class="col-xs-12">
        <form class="form-horizontal">
            <fieldset>
                <!-- Address form -->
                <h2>Restaurant Profile</h2>
                <!-- full-name input-->
                <div class="form-group">
                    <label>Restaurant Name</label>
                    <div class="controls">
                        <input id="resturant_name" name="resturant_name" type="text" placeholder="Restaurant Name" data-bind="value: name" class="form-control">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- phone input-->
                <div class="form-group">
                    <label>Phone</label>
                    <div class="controls">
                        <input id="phone" name="phone" type="text" placeholder="Phone Number" data-bind="value: phone" class="form-control">
                        <p class="help-block"></p>
                    </div>
                </div>  
                <!-- dishgo subdomain input-->
                <div class="form-group">
                    <label>Subdomain</label>
                    <div class="controls">
                        <input id="subdomain" name="subdomain" type="text" placeholder="Subdomain" data-bind="value: subdomain" class="form-control">
                        <p class="help-block">This is the subdomain your customers will use to access your dishgo menu. Usually your restaurant name will suffice.</p>
                    </div>
                </div> 
                <!-- website input-->
                <div class="form-group">
                    <label>Website</label>
                    <div class="controls">
                        <input id="website" name="website" type="text" placeholder="Website" data-bind="value: website" class="form-control">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- address-line1 input-->
                <div class="form-group">
                    <label>Address Line 1</label>
                    <div class="controls">
                        <input id="address_line1" name="address_line_1" type="text" placeholder="address line 1" data-bind="value: address_line_1" class="form-control">
                        <p class="help-block">Street address, P.O. box, company name, c/o</p>
                    </div>
                </div>
                <!-- address-line2 input-->
                <div class="form-group">
                    <label>Address Line 2</label>
                    <div class="controls">
                        <input id="address_line2" name="address_line_2" type="text" placeholder="address line 2" data-bind="value: address_line_2" class="form-control">
                        <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                    </div>
                </div>
                <!-- city input-->
                <div class="form-group">
                    <label>City / Town</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="city" data-bind="value: city" class="form-control">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- region input-->
                <div class="form-group">
                    <label>State / Province / Region</label>
                    <div class="controls">
                        <input id="region" name="region" type="text" placeholder="state / province / region" data-bind="value: province" class="form-control">
                        <p class="help-block"></p>
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="form-group">
                    <label>Zip / Postal Code</label>
                    <div class="controls">
                        <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code" data-bind="value: postal_code" class="form-control">
                        <p class="help-block"></p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</script>