<script id="restaurant_template" type="text/html">
    <div class="col-md-6">
        <div class="profile_form_wrapper">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Address form -->
                    <h2 class="text-center">Restaurant Profile</h2>
                    <!-- full-name input-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Restaurant Name</label>
                                <div class="controls">
                                    <input id="resturant_name" name="resturant_name" type="text" placeholder="Restaurant Name" data-bind="value: name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- phone input-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone</label>
                                <div class="controls" data-bind="css:{'has-error':!validatePhone()}">
                                    <input id="phone" name="phone" type="text" placeholder="Restaurant Phone Number" data-bind="value: phone" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- dishgo subdomain input-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>DishGo Subdomain</label>
                                <div class="controls" data-bind="css:{'has-error':!validateSubdomain()}">
                                    <input id="subdomain" name="subdomain" type="text" placeholder="your_restaurant.dishgo.io" data-bind="fixSubdomain: subdomain, valueUpdate: 'afterkeydown', value: subdomain" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- address-line1 input-->
                        <div class="col-sm-6">  
                            <div class="form-group">
                                <label>Address Line 1</label>
                                <div class="controls" data-bind="css:{'has-error':!validateAddress()}">
                                    <input id="address_line1" name="address_line_1" type="text" placeholder="Address Line 1" data-bind="value: address_line_1" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- address-line2 input-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <div class="controls">
                                    <input id="address_line2" name="address_line_2" type="text" placeholder="Address Line 2" data-bind="value: address_line_2" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- city input-->
                        <div class="col-sm-6">    
                            <div class="form-group">
                                <label>City / Town</label>
                                <div class="controls">
                                    <input id="city" name="city" type="text" placeholder="City" data-bind="value: city" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- region input-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>State / Province / Region</label>
                                <div class="controls">
                                    <input id="region" name="region" type="text" placeholder="State / Province / Region" data-bind="value: province" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- postal-code input-->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Zip / Postal Code</label>
                                <div class="controls">
                                    <input id="postal-code" name="postal-code" type="text" placeholder="Zip or Postal Code" data-bind="value: postal_code" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Email</label>
                            <div class="controls">
                                <input id="email" name="email" type="text" placeholder="Email" data-bind="value: email" class="form-control">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Physical Location:</label>
                            <!-- ko if: lat -->
                                <a href="/app/profile/location" class="btn btn-sm btn-info col-xs-12">Change Location</a>
                            <!-- /ko -->
                            <!-- ko if: !lat() -->
                                <a href="/app/profile/location" class="btn btn-sm btn-danger col-xs-12">Set Location</a>
                            <!-- /ko -->
                        </div>                                                
                    </div>
                </fieldset>
            </form>
            <div class="row base_bar">
                <div class="col-xs-12">
                    <button class="btn btn-dish pull-right" data-bind="click: save">Save</button>
                </div>
            </div>
        </div>
    </div>
</script>