<script id="restaurant_static_template" type="text/html">
    <div class="col-xs-12">
        <h3>Restaurant:</h3>
        <hr>
        <h4 data-bind="text: name"></h4>
        <hr>
        <button class="btn btn-lg btn-success col-xs-12" data-bind="click: $root.setRestaurant">This is my restaurant! <span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</script>