<script id="socialmedia_template" type="text/html">
    <div class="col-md-6">
        <div class="profile_form_wrapper">
            <form class="form-horizontal">
                <fieldset>
                    <h3 class="text-center">Social Media Links</h3>
                    <div class="form-group">
                        <label>Facebook</label>
                        <div class="controls">
                            <input id="facebook" name="facebook" type="text" placeholder="Facebook Page" data-bind="value: facebook" class="form-control">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Foursquare</label>
                        <div class="controls">
                            <input id="foursquare" name="foursquare" type="text" placeholder="Foursquare" data-bind="value: foursquare" class="form-control">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>instagram</label>
                        <div class="controls">
                            <input id="instagram" name="instagram" type="text" placeholder="Instagram" data-bind="value: instagram" class="form-control">
                            <p class="help-block"></p>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label>twitter</label>
                        <div class="controls">
                            <input id="twitter" name="twitter" type="text" placeholder="Twitter" data-bind="value: twitter" class="form-control">
                            <p class="help-block"></p>
                        </div>
                    </div>                                                                 

                </fieldset>
            </form>
            <div class="row" style="margin-bottom:0px;">
                <div class="col-xs-12">
                    <button class="btn btn-primary pull-right" data-bind="click: save">Save</button>
                </div>
            </div>
        </div>
    </div>
</script>