<script id="socialmedia_template" type="text/html">
    <div class="col-md-6">
        <div class="profile_form_wrapper">
            <form class="form-horizontal">
                <fieldset>
                    <h2 class="text-center">Social Media Links</h2>
                    <h5 class="text-center" style="color: #838383;">Please enter links ("http://example.com/yourprofile") to your profiles here, not usernames</h5>
                    <div class="form-group">
                        <label>Facebook</label>
                        <div class="controls">
                            <input id="facebook" name="facebook" type="text" placeholder="http://facebook.com/your_page" data-bind="value: facebook" class="form-control">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Foursquare</label>
                        <div class="controls">
                            <input id="foursquare" name="foursquare" type="text" placeholder="http://foresquare.com/your_page" data-bind="value: foursquare" class="form-control">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Instagram</label>
                        <div class="controls">
                            <input id="instagram" name="instagram" type="text" placeholder="http://instagram.com/your_account" data-bind="value: instagram" class="form-control">
                            <p class="help-block"></p>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label>Twitter</label>
                        <div class="controls">
                            <input id="twitter" name="twitter" type="text" placeholder="http://twitter.com/your_account" data-bind="value: twitter" class="form-control">
                            <p class="help-block"></p>
                        </div>
                    </div>                                                                 

                </fieldset>
            </form>
            <div class="row base_bar">
                <div class="col-xs-12">
                    <button class="btn btn-dish pull-right col-xs-5" data-bind="click: save">Save</button>
                </div>
            </div>
        </div>
    </div>
</script>