<script id="user_template" type="text/html">
    <div class="col-md-6">
        <div class="user_form_wrapper">
            <form class="form-horizontal">
                <fieldset>
                    <!-- Address form -->
                    <h3 class="text-center">User Profile</h3>
                    <p>This information is kept private and is used to keep in touch with you.</p>
                    <hr>
                    <div class="form-group">
                        <label>Email</label>
                        <div class="controls">
                            <input id="email" name="email" type="text" placeholder="Email" data-bind="value: email" class="form-control" <% if !current_user.is_admin %>disabled<% end%>>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <div class="controls">
                            <input id="phone" name="phone" type="text" placeholder="555-555-5555" data-bind="value: phone" class="form-control">
                            <p class="help-block"></p>
                        </div>
                    </div>                                      
                    <% if current_user.is_admin && active_link('administration','users') %>
                        <p>Admin: <span data-bind="text: is_admin, click: toggle_is_admin"></span></p>
                        <p>Restaurant: <!-- ko with: restaurant --><span data-bind="text: name"></span><!-- /ko --></p>
                        <p>Set Restaurant:</p>
                        <div class="form-inline" role="form">
                            <input class="form-control" data-bind="value: restaurant_name" />
                            <button class="btn btn-default" data-bind="click: search_for_restaurant">Search</button>
                        </div>                             
                        <ul data-bind="foreach: restaurants" style="list-style: none;">
                            <li><span data-bind="text: name"></span><button class="btn btn-info" data-bind="click: $parent.set_restaurant">Save</button>
                            </li>
                        </ul>          
                    <% end %> 
                    <hr> 
                </fieldset>
            </form>
            <div class="row" style="margin-bottom:0px;">
                <div class="col-xs-12">
                    <button class="btn btn-primary pull-right" data-bind="click: save">Save</button>
                </div>
            </div>
        </div>
    </div>
</script>