            <div class="dish_section">
              <div class="dish_top">
                <img src="/assets/icon@2x.png" width="25" class="icon" />
                <div class="option_title">
                  <span>Dish Preview</span>      
                </div>                        
              </div>                   

              <div class="iphone" data-bind="visible: $root.preview()">
                <div class="iphone-content">
                  <div id="top_headers">
                    <header class="bar-title red">
                      <h4 class="title">DishGo</h4>
                    </header>
                    <header class="bar-dish-title black">
                      <h4 class="dish_title title" data-bind="text: name"></h4>
                      <h4 class="title dish_price" data-bind="text: computed_price"></h4>
                    </header>
                  </div> 

                  <div id="bar-dish-add" class="black">
                    <header class="">
                      <span class="counter" data-bind="text: quantity"></span>
                      <div class="btn-group pull-left" style="margin-left: 10px;margin-top: 5px">
                        <button type="button" class="btn btn-inverse" data-bind="click: subQuantity">-</button>
                        <button type="button" class="btn btn-inverse" data-bind="click: addQuantity">+</button>
                      </div>
                      <button class="btn btn-default pull-right" style="margin-right: 10px;margin-top: 5px;width: 80px">Add</button>
                    </header>  
                  </div>

                  <div class="scrollable">
                    <div class="dish_image">
                      <div class="uiscrollview">
                        <ul data-bind="foreach: images">
                          <li><img data-bind="attr:{src:url}" width="320" alt=""></li>
                        </ul>
                      </div>
                    </div> 
                    <div class="sub_content">
                      <div class="header_title">
                        <h4 style="text-decoration: underline;">Description</h4>
                      </div>
                      <p class="description_text" data-bind="text: description">
                      </p>
                      <div data-bind="visible: sizes, with: sizes_object" class="demo_options">
                        <strong><h4 style="text-decoration: underline;">Sizes</h4></strong>
                        <div data-bind="foreach: individual_options">
                          <label class="btn btn-info float_option" data-bind="css: {'active': $parents[1].sizeSelectedOptionValue() === $data}"><input name="sizes_radio" type="radio" data-bind="checkedValue: $data, checked: $parents[1].sizeSelectedOptionValue" style="opacity: 0; width: 0px"/><!-- ko text: name --><!-- /ko --></label>                         
                        </div>
                      </div>
                      <!-- ko foreach: options -->
                      <div class="demo_options">
                        <strong><h4 style="text-decoration: underline;" data-bind="text: name"></h4></strong>
                        <div data-bind="foreach: individual_options">
                          <label class="btn btn-info float_option" data-bind="css: {'active': $parent.selectedOptionValue().indexOf($data) >= 0}">
                            <input name="sizes_radio" type="checkbox" data-bind="checkedValue: $data, checked: $parent.selectedOptionValue" style="opacity: 0; width: 0px"/>
                            <!-- ko text: name -->
                            <!-- /ko -->
                            <!-- ko if: $data.icon -->
                            <img class="col-xs-12 thumbnail" data-bind="attr: {src: icon().url()}" />
                            <!-- /ko -->
                          </label>                         
                        </div>
                      </div>
                      <!-- /ko -->
                    </div>
                  </div>
                </div> 
              </div>            

              <div class="web_preview" data-bind="visible: !$root.preview()">
                <div class="col-md-12">
                  <div class="row">
                    <div class="dish-picture">
                      <div class="col-md-12">
                        <div class="dish_image">
                          <div class="web_preview_uiscrollview">
                            <ul data-bind="foreach: images">
                              <li><img data-bind="attr:{src:original}" alt="" class="img-responsive"></li>
                            </ul>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="dish-title">
                      <div class="col-md-9 col-xs-9" data-bind="text: name">
                      </div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                      <div class="dish-price">
                        <i data-bind="text: computed_price"></i>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="dish-description">
                      <div class="col-md-12">
                        <p data-bind="text: description"></p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="dish-options">
                      <div class="col-md-12">
                        Options
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sizes">
                      <div class="col-md-9">

                      </div>
                    </div>
                  </div>
                </div> <!-- Dish#1 -->     
              </div>
            </div>