
<div class="section-signup">
	<div class="container_small">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="text-center"><img src="https://d5ca3b0520fac45026ad-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/no_plate_white.png" height="30" style="margin-bottom: 5px;"></h1>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<p>Click on the button below to add a DishGo menu to the page of your choice!</p>
			</div>
		</div>			
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<button class="btn btn-success col-sm-12" onclick="getPages()">Add DishGo Menu<i class="fa fa-chevron-right" style="margin-left: 20px; font-size: 12px;"></i></button>
			</div>
		</div>
	</div>
</div>
