			<div class="injected_container menu_container">
			        <div class="menu_header">
						<div class="text-center" data-bind="with: $root.restaurant">
							<!-- ko if: logo_settings().logo_as_image -->
								<img id="logo_image" data-bind="attr: {src:logo().url}, style: { 'height': logo_settings().image_height() + 'px', 'borderRadius':logo_settings().border_radius() + 'px', 'borderWidth':logo_settings().border_size() + 'px', 'borderColor': '#' + logo_settings().border_color()}" style="border-style: solid"/>
							<!-- /ko -->
							<!-- ko if: !logo_settings().logo_as_image() -->
								<span class="logo" data-bind="text: name, fitText: !logo_settings().logo_as_image"></span>
							<!-- /ko -->					
						</div>
				        <div class="language_selector">
							<ul class="language_select" data-bind="foreach: $root.languages">
							  <li data-bind="css:{selected: $data === $root.lang()}, click: function(){ $root.lang($data) }"><span data-bind="text: $root.getFullLangName($data)"></span>
							</ul>				        	      
				        </div>
	                
			        </div>    
			            <div class="row injected_menu_contents">
			                <div class="each_dish">
        						<!-- ko foreach: menu -->
					                    <div class="col-xs-12">
<!-- 					                        <img data-bind="attr:{src:$root.design.imgs.simple_divider}" class="section_img_header center-block"> -->
					                        <div class="section_title">
					                            <h1 data-bind="lText: name">Deserts</h1>
					                            <!-- <img data-bind="attr:{src:$root.design.imgs.section_line}" class="section_img_divider center-block"> -->
					                        </div>
	                        				<div class="row mason" data-bind="foreach: dishes, masonry: [$root.showDetails, $data.id()]">

	                    						<!-- THIS IS THE DETAILED DISH OUTPUT. -->

						                    	<div class="col-md-4 col-xs-12 image_section" data-bind="click: function(){ pager.navigate($page.path() + '/' + $data.id()) }">
					                                <div class="row">
					                                    <div class="dish_title col-md-9 col-xs-9">
					                                        <h2 data-bind="lText: name"></h2>
					                                    </div>
					                                    <div class="col-md-3 col-xs-3">
					                                        <div class="dish_price">
					                                            <h2 data-bind="text: computed_price"></h2>
					                                        </div>
					                                    </div>					                                   					                                    
					                                </div>
					                                <div class="row">
					                                    <div class="dish_picture">
					                                        <div class="col-md-12">
					                                            <img class="img-responsive" data-bind="visible: large_title_image, menuImage: lazyLoadMediumImage">
					                                        </div>
					                                    </div>
					                                </div>						                                
					                                <div class="row dish_button_for_phone">
						                            	<a class="btn btn-sm btn-dish" data-bind="page-href: $data.id()"><img data-bind="attr:{src:$root.design.imgs.logo_white_nav}" class="dishgo_icon"></a>
					                                </div>
						                   		</div>

						                        <!-- dish modal -->
												<div data-bind="page: {id: $data.id(), afterShow: function(){ $('body').addClass('stop_scrolling'); $data.modalVisible(true)}, afterHide: function(){ $('body').removeClass('stop_scrolling'); $data.modalVisible(false) }}" class="custom_modal">
													<div class="modal_background" data-bind="click: function(){ pager.navigate($page.parentPage.path()) }"></div>
												    <!-- custom_modal -->
											    	<div class="custom_modal_dialog">
											    		<div class="custom_modal_content" data-bind="style:{'min-width':computedWidth,'min-height':computedHeight}">
											    			<div class="custom_modal_header" data-bind="css:{'noBorderBottom':noContent}">
											    				<a class="close" data-bind="page-href: '../'">&times;</a>
											    				<div class="row">
											    					<div class="col-sm-9 col-xs-8">
											    						<h4 class="custom_modal-title pull-left" data-bind="lText: name">Mac &amp Cheese</h4>
											    					</div>
											    					<div class="col-xs-2">
											    						<div class="dish-price">
											    							<i data-bind="text: computed_price">$18.99</i>
											    						</div>
											    					</div>
											    				</div>
											    			</div>
											    			<div class="custom_modal_body" data-bind="stop_scroll">
											    				<div class="dish_modal_body">

											    					<div class="dish_image" data-bind="css: modalImageWidth">
					                                           			<img class="img-responsive" data-bind="visible: large_title_image, modalImage: lazyLoadImage">
											    					</div>

											    					<div class="dish_description" data-bind="css: modalDescriptionWidth">

											    						<div class="dish-description">
											    							<p data-bind="lText: description"></p>
											    						</div>

											    						<div data-bind="visible: sizes, with: sizes_object" class="demo_options">
											    							<h3>Select Size</h3>
											    							<div data-bind="foreach: individual_options">
											    								<label class="button lightText square grey float_option_size" data-bind="css: {'active': $parents[1].sizeSelectedOptionValue() === $data}"><input name="sizes_radio" type="radio" data-bind="checkedValue: $data, checked: $parents[1].sizeSelectedOptionValue" style="opacity: 0; width: 0px"/>
											    									<!-- ko lText: name --><!-- /ko -->
											    									<!-- ko if: price --><p>$<!-- ko text: price--><!-- /ko --></p><!-- /ko -->
											    								</label>
											    							</div>
											    						</div>

											    						<!-- ko foreach: options -->
												    						<div class="demo_options">
												    							<h3 data-bind="lText: name"></h3>
												    							<div data-bind="foreach: individual_options">
												    								<label class="button lightText square red float_option" data-bind="css: {'active': $parent.selectedOptionValue().indexOf($data) >= 0}">
												    									<input name="sizes_radio" type="checkbox" data-bind="checkedValue: $data, checked: $parent.selectedOptionValue, attr:{disabled: clickable}" style="opacity: 0; width: 0px">
												    									<!-- ko lText: name --><!-- /ko -->
												    									<!-- ko if: computed_price() != "" && $parent.extra_cost() --><p>$<!-- ko text: computed_price--><!-- /ko --></p><!-- /ko -->
												    									<!-- ko if: $data.icon -->
												    										<img class="col-xs-12 thumbnail" data-bind="attr: {src: icon().url()}"/>
												    									<!-- /ko -->
												    								</label>                        
												    							</div>
												    							<h6><!-- ko if: min_selections() > 0 -->* Select at least <!-- ko text: min_selections() --><!-- /ko --><!-- /ko --> <!-- ko if: max_selections() > 0 -->* Select at most <!-- ko text: max_selections() --><!-- /ko --><!-- /ko --></h6>												    							
												    						</div>
												    					<!-- /ko -->
											    					</div>
											    				</div>
											    			</div>
<!-- 											    			<div class="custom_modal_footer">
											    				<a class="btn btn-default" data-bind="page-href: '../'">Close</a>
											    			</div> -->
											    		</div>
											    	</div>
												</div>
						                        <!-- dish custom_modal -->
					                      	</div>
<!-- 					                        <img data-bind="attr:{src:$root.design.imgs.simple_divider_bottom}" class="section_img_divider center-block"> -->
					                    </div>
				                <!-- /ko -->
			                </div>
			            </div>
			            <div class="col-xs-12">
			                <div class="bottom_logo">
			                    <img data-bind="attr:{src:$root.design.imgs.menu_tuck_dark}" class="resto_img_logo_bottom center-block">
			                </div>
			            </div>
			    </div>
			    