<div class="contact_page_wrapper">

	<div class="row">

		<div class="col-xs-12 col-md-3 col-md-offset-2 address_box mini_content_wrapper">
			<div class="contact_wrapper col-xs-12 text-center" data-bind="with: restaurant">
				<h3 class="hours_header" data-bind="lStaticText: 'Address'"></h3>
			    <address>
			        <strong data-bind="text: name"></strong><br>
			        <strong data-bind="text: address_line_1"></strong><br>
			        <abbr title="Phone">P:</abbr>
			        <strong data-bind="text: phone"></strong><br>
			    </address>
			</div>
		</div>

		<div class="col-xs-12 col-md-3 col-md-offset-2 mini_content_wrapper">
			<div class="hours_wrapper" data-bind="with: restaurant">
				<h3 class="hours_header" data-bind="lStaticText: 'Hours'"></h3>
				<div class="hours_container">
					<div class="hours">
						<div class="col-xs-3 col-xs-offset-6">
							<h4 class="text-center" data-bind="lStaticText: 'Opens'">Opens</h4>
						</div>

						<div class="col-xs-3">
							<h4 class="text-center" data-bind="lStaticText: 'Closes'">Closes</h4>
						</div>
						<div data-bind="foreach: hours">
							<div class="col-xs-12">
								<p class="col-xs-6"><i class="glyphicon glyphicon-time hours_icon"></i> <!-- ko text: lName --><!-- /ko --></p>

								<div data-bind="visible: !closed()">
									<div class="col-xs-3 text-center">
										<p data-bind="text: open_1"></p>
									</div>

									<div class="col-xs-3 text-center">
										<p data-bind="text: close_1"></p>
									</div>
								</div>

								<div data-bind="visible: closed()">
									<div class="col-xs-6 text-center">
										<span class="label label-danger" data-bind="text: labelText"></span>
									</div>
								</div>
							</div>		
						</div>
					</div>
				</div>	
			</div>	
		</div>

	</div>	

	<div class="map_box" data-bind="visible: restaurant().lat">
		<div class="col-xs-12 col-md-6 col-md-offset-3 mini_content_wrapper">
	        <iframe id="map-canvas" data-bind="iMap: ko['reloadMap']"></iframe>
		</div>
	</div>
</div>	

