<div class="contact_page_wrapper">

	<div class="mini_content_wrapper contact_wrapper col-xs-12" data-bind="with: restaurant">
	    <address>
	        <strong data-bind="text: name"></strong><br>
	        <strong data-bind="text: address_line_1"></strong><br>
	        <abbr title="Phone">P:</abbr>
	        <strong data-bind="text: phone"></strong><br>
	    </address>
	</div>

	<div class="mini_content_wrapper hours_wrapper col-xs-12" data-bind="with: restaurant">
		<div class="hours_container">
			<div class="hours">
				<div class="col-xs-3 col-xs-offset-6">
					<h4 class="text-center">Opens</h4>
				</div>

				<div class="col-xs-3">
					<h4 class="text-center">Closes</h4>
				</div>
				<div data-bind="foreach: hours">
					<div class="row">
						<p class="col-xs-6"><i class="glyphicon glyphicon-time"></i> <!-- ko text: name --><!-- /ko --></p>

						<div data-bind="visible: !closed()">
							<div class="col-xs-3 text-center">
								<p data-bind="text: open_1"></p>
							</div>

							<div class="col-xs-3 text-center">
								<p data-bind="text: close_1"></p>
							</div>
						</div>

						<div data-bind="visible: closed()">
							<div class="col-xs-6 text-center">
								<span class="label label-danger">Closed</span>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>	
	</div>	

	<div id="map-canvas"></div>

</div>	

