<div class="content_wrapper">
	<div class="row gallery">
		<div class="col-xs-12" data-bind="foreach: { data: gallery_images }, lightBox, maxHeight: 'gallery_image'">
			<div class="col-md-4 col-xs-12 gallery_image">
				<a data-bind="attr:{href:original,'data-lightbox':'Gallery','data-title':''}">
					<img class="img-responsive" data-bind="attr:{src:medium}" />
				</a>
			</div>
		</div>
	</div>
</div>	

