<div class="content_wrapper">
	<div class="row">
		<div class="col-xs-12" data-bind="foreach: { data: gallery_images }, lightBox">
			<div class="col-md-4 col-xs-12">
				<a data-bind="attr:{href:url,'data-lightbox':'Gallery','data-title':''}">
					<img class="img-responsive" data-bind="attr:{src:medium}" />
				</a>
			</div>
		</div>
	</div>
</div>	

