<!-- ko with: restaurant -->
<h4 class="fancybox"><!-- ko text: name --><!-- /ko --> is currently <span class="label" data-bind="css:{'label-success':areWeOpened(),'label-danger':!areWeOpened()}, text: areWeOpenedText"></span></h4>
<p data-bind="lText: about_text"></p>
	<div class="hours">
			<div class="col-xs-3 col-xs-offset-6">
				<h4 class="text-center">Opens</h4>
			</div>

			<div class="col-xs-3">
				<h4 class="text-center">Closes</h4>
			</div>
		<div data-bind="foreach: hours">
				<p class="col-xs-6 day_padding"><i class="glyphicon glyphicon-time"></i> <!-- ko text: name --><!-- /ko --></p>

				<div data-bind="visible: !closed()">
					<div class="col-xs-3 text-center">
						<p data-bind="text: open_1"></p>
					</div>

					<div class="col-xs-3 text-center">
						<p data-bind="text: close_1"></p>
					</div>
				</div>

				<div data-bind="visible: closed()">
					<div class="col-xs-3 text-center">
						<span class="label label-danger">Closed</span>
					</div>
				</div>				
		</div>
	</div>
<!-- /ko -->