<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to DishGo!</h3>
    <p>Should you have any questions regarding the sign up process or website configuration, please don't hesitate to contact us by email or phone</p>
    <address>
      <strong>DishGo Inc.</strong><br>
      <a href="mailto:#">info@dishgo.ca</a><br>
      <abbr tittle="phone">P:</abbr>+1 514 591 9387
    </address>
  </body>
</html>