#admin_logo {
  height: 34px;
  width: 40px;
}
#dishgo_bar.navbar {
  max-height: 50px;
}
#dishgo_bar.nav > li > a {
  max-height: 50px;
}
#dishgo_bar .nav > li {
  background-color: #1a1a1a;
}
#dishgo_bar.navbar-nav {
margin: 0px 15px;
}
#dishgo_bar.navbar-brand {
  /*padding-top: 8px;*/
  /*padding-left: 15px;*/
  /*padding-bottom: 0px;*/
}
#dishgo_bar.navbar-inverse {
  background-color: #1a1a1a;
}
#dishgo_bar.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  /*padding: 18px 15px;*/
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#dishgo_bar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
  }

#dishgo_bar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, #dishgo_bar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #149178;
  }
#dishgo_bar.navbar-inverse .navbar-nav > li > a:hover, #dishgo_bar.navbar-inverse .navbar-nav > li > a:focus {
  color: #cf2f28;
  background-color: #1a1a1a;
}

#dishgo_bar.navbar-inverse .navbar-nav > .open > a, #dishgo_bar.navbar-inverse .navbar-nav > .open > a:hover, #dishgo_bar.navbar-inverse .navbar-nav > .open > a:focus {
  color: #cf2f28;
  background-color: #1a1a1a;
}

#dishgo_bar.navbar-inverse .navbar-nav > .active > a, #dishgo_bar.navbar-inverse .navbar-nav > .active > a:hover, #dishgo_bar.navbar-inverse .navbar-nav > .active > a:focus {
  color: #cf2f28;
  background-color: #1a1a1a;
}

#dishgo_bar .navbar-inverse .navbar-toggle:hover, #dishgo_bar .navbar-inverse .navbar-toggle:focus {
  background-color: #cf2f28;
}

#dishgo_bar.navbar-inverse .navbar-toggle {
  border-color: #fff;
  outline: none;
}
#dishgo_bar .nav > li > a:hover, #dishgo_bar .nav > li > a:focus {
  text-decoration: none;
  background-color: #ECF0F1;
}

#dishgo_bar.nav-stacked > li + li{
  margin-top: 0;
}

#dishgo_bar.nav-pills li a{
  padding: 7px;
  border-bottom: 1px solid #EDEDED;
}

#dishgo_bar.dropdown-menu {
  background-color: #9F241F;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#dishgo_bar.dropdown-menu > li > a{
  color: #fff;
}
#dishgo_bar .btn-primary:hover, 
#dishgo_bar .btn-primary:focus, 
#dishgo_bar .btn-primary:active, 
#dishgo_bar .btn-primary.active, 
#dishgo_bar.open .dropdown-toggle.btn-primary {
  background-color: #9F241F;
}


/* Extra small devices Phones */
@media (max-width: 767px) {
  #dishgo_bar.navbar-nav {
    margin: 0px -15px;
  }
}

#dishgo_bar.navbar {
  min-height: 40px;
}

#dishgo_bar .navbar-brand, #dishgo_bar .navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}

#dishgo_bar.navbar-fixed-top{
  border: 0px;
}

#togglePreview {
  background-color: #64A156;
}

#saveMenu {
  background-color: #10479B;
}

#saveDraft {
  background-color: #F4950E;
}

#discardDraft {
  background-color: #BC030E;
}

/*#togglePreview:focus {
  background-color: #FFF;
}

#saveMenu:focus {
  background-color: #FFF;
}

#saveDraft:focus {
  background-color: #FFF;
}

#discardDraft:focus {
  background-color: #FFF;
}*/