#admin_logo {
  height: 34px;
  width: 40px;
}
.navbar {
  max-height: 50px;
}
.nav > li > a {
  max-height: 50px;
}
.nav > li {
  background-color: #1a1a1a;
}
.navbar-nav {
margin: 0px 15px;
}
.navbar-brand {
  /*padding-top: 8px;*/
  /*padding-left: 15px;*/
  /*padding-bottom: 0px;*/
}
.navbar-inverse {
  background-color: #1a1a1a;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  /*padding: 18px 15px;*/
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
  }

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #149178;
  }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #cf2f28;
  background-color: #1a1a1a;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #cf2f28;
  background-color: #1a1a1a;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #cf2f28;
  background-color: #1a1a1a;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #cf2f28;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
  outline: none;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #ECF0F1;
}

.nav-stacked > li + li{
  margin-top: 0;
}

.nav-pills li a{
  padding: 7px;
  border-bottom: 1px solid #EDEDED;
}

.dropdown-menu {
  background-color: #9F241F;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.dropdown-menu > li > a{
  color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  background-color: #9F241F;
}


/* Extra small devices Phones */
@media (max-width: 767px) {
  .navbar-nav {
    margin: 0px -15px;
  }
}

.navbar-brand,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}

#togglePreview {
  background-color: #64A156;
}

#saveMenu {
  background-color: #10479B;
}

#saveDraft {
  background-color: #F4950E;
}

#discardDraft {
  background-color: #BC030E;
}

#togglePreview:hover {
  background-color: #FFF;
}

#saveMenu:hover {
  background-color: #FFF;
}

#saveDraft:hover {
  background-color: #FFF;
}

#discardDraft:hover {
  background-color: #FFF;
}