#admin_logo {
  height: 34px;
  width: 40px;
}

#profile_alert_circle {
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: red;
  font-size: 8px;
  line-height: 11px;
  height: 11px;
  width: 11px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

#dishgo_bar {
  background-image:url('/app/black@2x.png');
}

#dishgo_bar.navbar {
  max-height: 50px;
}
#dishgo_bar.nav > li > a {
  max-height: 50px;
}
#dishgo_bar a {
  text-transform: uppercase;
}
#dishgo_bar .nav > li {
  background-image:url('/app/black@2x.png');
}
#dishgo_bar.navbar-nav {
margin: 0px 15px;
}
#dishgo_bar.navbar-brand {
  /*padding-top: 8px;*/
  /*padding-left: 15px;*/
  /*padding-bottom: 0px;*/
}
#dishgo_bar.navbar-inverse, #dishgo_bar .active a {
  background-image:url('/app/black@2x.png');
  /*background-color: initial;*/
}
#dishgo_bar.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#dishgo_bar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
  }

#dishgo_bar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, #dishgo_bar.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #149178;
  }
#dishgo_bar.navbar-inverse .navbar-nav > li > a:hover, #dishgo_bar.navbar-inverse .navbar-nav > li > a:focus {
  color: #cf2f28;
}

#dishgo_bar.navbar-inverse .navbar-nav > .open > a, #dishgo_bar.navbar-inverse .navbar-nav > .open > a:hover, #dishgo_bar.navbar-inverse .navbar-nav > .open > a:focus {
  color: #cf2f28;
  background-image:url('/app/black@2x.png');
}

#dishgo_bar.navbar-inverse .navbar-nav > .active > a, #dishgo_bar.navbar-inverse .navbar-nav > .active > a:hover, #dishgo_bar.navbar-inverse .navbar-nav > .active > a:focus {
  color: #cf2f28;
  background-image:url('/app/black@2x.png');
}

#dishgo_bar .navbar-inverse .navbar-toggle:hover, #dishgo_bar .navbar-inverse .navbar-toggle:focus {
  /*background-color: #cf2f28;*/
}

#dishgo_bar.navbar-inverse .navbar-toggle {
  border-color: #fff;
  outline: none;
}
#dishgo_bar .nav > li > a:hover, #dishgo_bar .nav > li > a:focus {
  text-decoration: none;
  /*background-color: #ECF0F1;*/
}

#dishgo_bar.nav-stacked > li + li{
  margin-top: 0;
}

#dishgo_bar.nav-pills li a{
  padding: 7px;
  border-bottom: 1px solid #EDEDED;
}

#dishgo_bar.dropdown-menu {
  /*background-color: #9F241F;*/
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#dishgo_bar.dropdown-menu > li > a{
  color: #fff;
}
#dishgo_bar .btn-primary:hover, 
#dishgo_bar .btn-primary:focus, 
#dishgo_bar .btn-primary:active, 
#dishgo_bar .btn-primary.active, 
#dishgo_bar.open .dropdown-toggle.btn-primary {
  background-image:url('/app/black@2x.png');
}


/* Extra small devices Phones */
@media (max-width: 767px) {
  #dishgo_bar.navbar-nav {
    margin: 0px -15px;
  }
}

#dishgo_bar.navbar {
  min-height: 40px;
}

#dishgo_bar .navbar-brand, #dishgo_bar .navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}

#dishgo_bar.navbar-fixed-top{
  border: 0px;
}

#togglePreview {
  background-color: #64A156 !important;
  background-image: none !important;
}

#saveMenu {
  background-color: #5cb85c;
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
}
#saveMenu a:hover,
#saveMenu a:focus,
#saveMenu a .active {
  background-color: #4F9E4F;
  color: #fff !important;
}
#saveDraft {
  background-color: #F4950E !important;
  background-image: none !important;
}

#discardDraft {
  background-color: #BC030E !important;
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1)) !important;
}
#discardDraft a:hover,
#discardDraft a:focus,
#discardDraft a .active {
  background-color: #A2030C;
  color: #fff !important;
}

/*#togglePreview:focus {
  background-color: #FFF;
}

#saveMenu:focus {
  background-color: #FFF;
}

#saveDraft:focus {
  background-color: #FFF;
}

#discardDraft:focus {
  background-color: #FFF;
}*/