/*
*= require_self
*/

#advertise_background {
	background: url(https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/old_cash_register.jpg) repeat;
    background-attachment: fixed;
    background-position: top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
}

.bg-dark {
	background:rgb(0,0,0);
	background: transparent\9;
	background:rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	zoom: 1;
	height: 400px;
}
.bg-dark:nth-child(n) {
	filter: none;
}
.bg-dark h1 {
	color: #fff;
	padding-top: 150px;
	font-size: 48px;
}
.bg-dark p {
	color: #fff;
	font-size: 22px;
}
.bg-grey {
	background-color: #f5f6f5;
	min-height: 400px;
	padding: 20px 0;
}
.bg-grey h1,
.bg-grey h2 {
	color: #565a5c;
}
.bg-grey p {
	color: #82898d;
	font-size: 16px;
}
.icon-head i {
	color: #cf2f28;
	font-size: 70px;
}
.bg-dark-1 {
	background:rgb(0,0,0);
	background: transparent\9;
	background:rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
	zoom: 1;
	min-height: 460px;
}
.bg-dark-1:nth-child(n) {
	filter: none;
}
.bg-dark-1 h1,
.bg-dark-1 h2 {
	color: #fff;
	padding-top: 40px;
}
.bg-dark-1 p {
	color: #fff;
	font-size: 22px;
}
.bg-dark-1 .btn-rewards {
	background-color: #cf2f28;
	border-radius: 4px;
	margin-top: 25px;
	color: #fff;
	padding: 6px 12px;
	font-size: 28px;
	margin-bottom: 20px;
}
.bg-dark-1 .btn-rewards:hover,
.bg-dark-1 .btn-rewards:focus {
	opacity: .8;
}
.bg-dark-grey {
	background-color: #DCDCDC;
	min-height: 400px;
	padding: 20px 0;
}
.bg-dark-grey h1,
.bg-dark-grey h2 {
	color: #1a1a1a;
}
.bg-dark-grey p {
	color: #565a5c;
	font-size: 16px;
}
.buiz_pics a {
	color: #cf2f28;
	text-decoration: none;
}
.buiz_pics a:hover {
	color: #cf2f28;
}
@media only screen and (max-width: 600px) {
    #advertise_background {
        background-position: 50% 0;
        background-repeat: no-repeat;
        -webkit-background-size: initial;
        -moz-background-size: initial;
        -o-background-size: initial;
        background-size: initial; 
        background-attachment: initial; 
        z-index: -1;    
    }
}