.custom_modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10000;
}

@media (max-width: 600px) {
	.custom_modal {
		width: 100%;
	}
}
.custom_modal-header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.custom_modal-dialog {
	position: absolute;
	left: 50%;
	top: 50%;
	max-height: 90%;
	-webkit-transform:	translate(-50%, -50%);
	-moz-transform:		translate(-50%, -50%);
	-ms-transform:		translate(-50%, -50%);
	-o-transform:		translate(-50%, -50%);  
	transform:			translate(-50%, -50%);
	-webkit-backface-visibility: hidden;	
	width: 600px;
	overflow-y: scroll;	
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #000;
	padding: 15px;
	color: #000;
}
.custom_modal-footer {
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
	padding-top: 10px;
}
.custom_modal-footer a {
	float: right!important;
}
.custom_modal-content {
	min-height: 100%;
}

.custom_modal .each-dish {
	text-align: none;
}
.custom_modal-dialog .custom_modal-title {
	font-size: 24px;
	padding-top: 10px;
	margin: 0;
}
.custom_modal-dialog .dish-price {
	padding-top: 0px;
	font-size: 24px;
	color: #cf2f28;
	padding-top: 10px;
}
.custom_modal-dialog .close {
	color: #000;
	opacity: .4;
	filter:alpha(opacity=40)
}
.custom_modal-dialog .dish-description p{
	margin-top: 20px;
	font-size: 18px;
	font-weight: 300;
}
.custom_modal .btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.custom_modal .btn-default:hover,
.custom_modal .btn-default:focus,
.custom_modal .btn-default:active,
.custom_modal .btn-default.active,
.custom_modal .open .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.custom_modal .btn-section {
  color: #fff;
  background-color: #343e4b;
  border: 1px solid #232A33;
}
.custom_modal .btn-section:hover,
.custom_modal .btn-section:focus,
.custom_modal .btn-section:active, 
.custom_modal.btn-section.active, 
.custom_modal .open .dropdown-toggle.btn-section{
  opacity: 0.8;
  color: #fff;
}