.galleryImage {
	position: relative;
}
.galleryKill {
	position: absolute;
	top: 0;
	right: 0;
	color: red;
	font-size: 20px;
	background-color: black;
	border-radius: 10px;
}

.gallery img {
	margin-top: 5px;
	border-radius: 3px;
}

.gallery a {
	display: block;
}