.language_select {
  list-style: none;
  margin: 0;
}

.menu_container .language_select li{
  background-color: #dcdcdc;
}

.language_select li {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;  
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  border-radius: 5px;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

#navigation_small .language_select li {
  padding: 0;
}

.language_select li.selected {
  display: none;
}

.language_select li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 850px) {
  .language_select li.selected {
    display: none;
  }
  .menu_container .language_select li{
    display: none;
  }  
}