html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
}

.main_page_language_selector {
	position: absolute;
}

#left_menu i {
	font-size: 38px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;	
	color: #fff;
	margin-left: 3px;
	margin-right: 3px;
}

#map-canvas { 
	height: 300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.overlay:after {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHUlEQVQIW2NkYGD4D8SM6DRIAAQwJDFUwhRRUQcALRkSBISGlPAAAAAASUVORK5CYII=") repeat top left;
	content: "";
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: -5;
	height: 100%;
	right: 0;
	left: 0;
	opacity: .4;
	filter: alpha(opacity=40);
}
#footer {
	display: none;
}

.pattern_background {
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: -5;
}

#social_media_footer {
	display: none;
}

#social_media {
	display: none;
}

#navigation_small {
	display:none;
	position: fixed;
	top: 10px;
	left: 15px;
	margin: 0px;
	color: #fff;
	z-index: 9999;
}

#left_menu {
	display: none;
}

.nav a {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.nav a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.wrapper_corner {
	position: absolute;
	top: -5px;
	right: -6px;
	z-index: 10000000;
	overflow: hidden;
	width: 75px;
	height: 75px;
	border-radius: 3px 5px 3px 0;
	content: '';
}
.wrapper_corner_inner {
	position: absolute;
	bottom: 0;
	opacity: 0.6;
	right: 0;
	width: 145px;
	height: 145px;
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	background-position: 50% 50%;
	box-shadow: 0 3px 3px 0 rgba(1,1,1,.5),
	0 1px 0 0 rgba(1,1,1,.5),
	inset 0 -1px 8px 0 rgba(255,255,255,.3),
	inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.wrapper_corner_inner:before {
	left: 1px;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
.wrapper_corner_inner:after {
	right: 0;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.top_left {
	top: -5px;
	left: -6px;
	-webkit-transform: rotate(-90deg);
}
.bottom_left {
	bottom: -5px;
	top: auto;
	left: -6px;
	-webkit-transform: rotate(180deg);
}
.bottom_right {
	bottom: -5px;
	top: auto;
	right: -6px;
	-webkit-transform: rotate(90deg);
}

/* MENU */

/* nav */
.nav {
	display: inline-block;
	text-transform:uppercase;
	position: relative;
	margin: 20px 0;
}
.nav ul {
	margin: 0;
	padding: 0;
}

.nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.nav a {
	padding: 3px 12px;
	text-decoration: none;
	line-height: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;		
}