@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,700);

h1,h2,h3,h4,h5,h6 {
    font-family:'Oswald', sans-serif;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.layout_controls {
  min-height: 400px;
  padding-bottom: 45px !important;
}

.layout_controls .nav {
  text-align: center;
  width: 100%;
}

.layout_controls .nav li {
  float: none;
  display: block;
  margin-bottom: 5px;
}

.layout_controls .nav a {
  font-family:'Oswald', sans-serif;
  font-size: 16px !important;
  color: #cf2f28 !important; 
}

.layout_controls .nav-pills>li {
    border-radius: 4px;
    background-color: white;
    border: 1px solid #cf2f28;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus,
.layout_controls .nav-pills>li>a:hover,
.layout_controls .nav-pills>li>a:focus {
    background-color: #cf2f28;
    color: #fff !important;
    border: none;
    border-radius: 4px;
}
.nav-pills>li.active>a:hover,
.profile_controls .nav-pills>li.active>a:focus {
    background-color: #cf2f28;
    border-radius: 4px;
}

.btn-inverse { 
  background-color: #838383;
  color: #fff;
} 
 
.btn-inverse:hover, 
.btn-inverse:focus, 
.btn-inverse:active, 
.btn-inverse.active, 
.open .dropdown-toggle.btn-inverse { 
  background-color: #838383;
  color: #fff;
} 
 
.btn-inverse:active, 
.btn-inverse.active, 
.open .dropdown-toggle.btn-inverse { 
  background-image: none; 
} 
 
.btn-inverse.disabled, 
.btn-inverse[disabled], 
fieldset[disabled] .btn-inverse, 
.btn-inverse.disabled:hover, 
.btn-inverse[disabled]:hover, 
fieldset[disabled] .btn-inverse:hover, 
.btn-inverse.disabled:focus, 
.btn-inverse[disabled]:focus, 
fieldset[disabled] .btn-inverse:focus, 
.btn-inverse.disabled:active, 
.btn-inverse[disabled]:active, 
fieldset[disabled] .btn-inverse:active, 
.btn-inverse.disabled.active, 
.btn-inverse[disabled].active, 
fieldset[disabled] .btn-inverse.active { 
  background-color: #1D1526; 
  border-color: #18171F; 
} 
 
.btn-inverse .badge { 
  color: #1D1526; 
  background-color: #FFFFFF; 
}

.layout_controls_next {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.layout_controls_next hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.available_languages .onoffswitch {
  margin-top: 5px;
}

.available_languages {
  text-align: center;
}

.available_languages h4 {
  display: inline-block;
}
.rows {
  margin-right: -15px;
  margin-left: -15px;
}
.layout_controls .thumbnail {
  border: 0;
  background-color: inherit;
}
.btn-dish {
  color: #3b9ff3;
  border: 1px solid #3b9ff3;
  background-color: #fff;
}
.btn-dish:hover, .btn-dish:focus, .btn-dish:active, .btn-dish.active, .open .dropdown-toggle.btn-dish{
  background-color: #3b9ff3;
  color: #fff;
}
.btn-warning {
  color: #f0ad4e;
  border: 1px solid #f0ad4e;
  background-color: #fff;
}
.btn-warning:hover,
.btn-warning:focus {
  color: #fff;
  background-color: #f0ad4e;
}
.completed_image .thumbnail {
  background-color: #fff;
}