
body {
	font-family: 'Lusitana', serif;
	/*background: url(006.png) repeat;*/
}
h2, h3, .h1, .h2, .h3 {
  font-family: 'Lusitana', serif;
}

h4, h5, h6, .h4, .h5, .h6{
  font-family: 'Lusitana', serif;
}

.menu_head {
  position: relative;
}

.language_selector {
  position: absolute;
  right: 15px;
  top: 15px;
}

.menu_style_selector {
  position: absolute;
  right: 15px;
  top: 65px;
}

.menu_style_selector .glyphicon{
  font-size: 28px;
}

.each_dish {
	text-align: center;
}
.section_title {
	text-transform: uppercase;
	margin-bottom: 25px;
	color: #000000;
}
.dish_title {
	color: #000000;
}
.dish_description {
	color: #5B5B5B;
	font-style: italic;
	margin-bottom: 0px;
}
.dish_price {
	margin-bottom: 25px;
}
.dish_price i {
	display: block;
}
.dishgo_icon {
    width: 20px;

}
h1 {
	font-size: 24px;
	font-family: 'Fanwood Text', serif;
}
h2 {
	font-size: 18px;
}
p {
	margin-bottom: 0px;
}
.menu_header {
	position: absolute;
}
.resto_logo {
	position: relative;
}
.resto_logo img {
    margin: 0 auto;
    padding: 20px;
    display: block;
}
.bottom_logo {
	margin-top: 20px;
	margin-bottom: 10px;
}
.container {
	background-color: #fff;
	margin-top: 20px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	padding-bottom: 20px;
	z-index: 99999;
}
.each_dish {
	padding-top: 40px;
	position: relative;
}
.btn {
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}
.btn-dish {
  color: #fff;
  background: #cf2f28;
}
.btn-dish:hover, .btn-dish:focus, .btn-dish:active, .btn-dish.active, .open .dropdown-toggle.btn-dish{
  opacity: 0.80;
  color: #fff;
}
@media (min-width: 560px) {
  .each_dish {
  	padding-top: 90px;
  }
  .resto_logo {
  	padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .dark_header {
    width: 750px;
  }
  .each_dish {
  	padding-top: 80px;
  }
  .resto_logo {
  	padding-top: 40px;
  }
  .container {
  	margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .dark_header {
    width: 970px;
  }
  .each_dish {
  	padding-top: 140px;
  }
  .resto_logo {
  	padding-top: 60px;
  }
  .container {
  	margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .dark_header {
    width: 1170px;
  }
  .each_dish {
  	padding-top: 205px;
  }
  .resto_logo {
  	padding-top: 60px;
  }
  .container {
  	margin-top: 40px;
  }
}