.sortable_container {
  text-align: left;
/*    position: relative;
    display: inline-block;
    min-height: 100px;
    margin-bottom: 15px;
    padding: 15px;
    padding-top: 38px;  
    background-color: #f7f7f7;
    border: 1px solid #dae3e9;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 3px 3px 3px -2px rgba(26,26,26,1);
    -moz-box-shadow: 3px 3px 3px -2px rgba(26,26,26,1);
    box-shadow: 2px 2px 3px -2px rgba(26,26,26,1);;*/
}
.sortable_container h2,
.sortable_container h4 {
  text-align: center;
  font-weight: 700;
}

.sortable_container ul {
  list-style: none;
}

.sortable_container ul li{
  height: 38px;
  line-height: 38px;
  font-size: 1.2em; 
  color: #fff;
  outline: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  background: #4E525B;
/*  background: -moz-linear-gradient(top,  rgb(78,82,91) 0%, rgb(57,61,68) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(78,82,91)), color-stop(100%,rgb(57,61,68)));
  background: -webkit-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
  background: -o-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
  background: -ms-linear-gradient(top,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);
  background: linear-gradient(to bottom,  rgb(78,82,91) 0%,rgb(57,61,68) 100%);*/
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(0,0,0,.5);
  text-shadow: -1px -1px 0px rgba(0,0,0,.5);
  cursor: pointer;
}

.sortable_container li:hover {
  color: #fff;
  background-color: #9097A7;
  text-decoration: none;
  background-image: -webkit-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
  background-image: -moz-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
  background-image: -ms-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
  background-image: -o-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
  background-image: linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
}
.sortable_container li:active {
    border: 2px dashed #838383;
    background:rgb(209,237,255);
    background: transparent\9;
    background:rgba(209,237,255,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2D1EDFF,endColorstr=#b2D1EDFF);
    zoom: 1;
}
.sortable_container li span.fa {
  height: 100%;
  font-size: 22px;
  line-height: 38px;
}
.sortable_container li span.fa:before {
  margin-left: 10px;
}
.sortable_sections {
  padding: 5px;
}

.sortable_dishes {
  padding: 5px;
}

.sortable_top {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 30px;
    width: 100%;
    border-radius: 5px 5px 0px 0px; 
    background-color: #1a1a1a;
}

.sortable_top .option_title {
    position: absolute;
    left: 35px;
    top: 0px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.section_sort {

}