/* Global Styles */


*{
  outline: 0!important;
}

html, body {
  height:100%;
  font-family: 'Bree Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#white {
  color: #fff;
}
.mock-dish {

}
.dish-title {
    font-size: 20px;
    color: #1a1a1a;
    padding-top: 20px;
    
}
.dish-price {
    text-align: center;
    color: #cf2f28;
    font-size: 20px
}
.dish-section-title hr {
width: auto;
border-top: 1px solid #cf2f28;
border-bottom: 2px solid #cf2f28;
margin-top: 40px;
}
.dish-picture {
    padding-top: 20px;
    padding-bottom: 20px;

}
.dish-description {
    padding-top: 20px;
    font-size: 16px;
    color: gray;
    height: 120px;
}
.dish-options {
  text-align: center;
    font-size: 18px;
}
hr {
    width: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.resto-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

}
.resto-contact {
    font-size: 20px;
    text-align: center;
}
.resto-contact strong {
    font-size: 40px;
    text-transform: uppercase;
}
h1, h2, h3, .h1, .h2, .h3 {
  font-family: 'breeserif_regular_macroman';
}

h4, h5, h6, .h4, .h5, .h6{
  font-family: 'breeserif_regular_macroman';
}
.btn {
  margin-bottom: 2px;
}
.extra-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.transparent {
  background: rgba(0,0,0,0.7);
  padding-bottom: 20px;
  border: 1px solid #1a1a1a;
}
.btn-dish {
  color: #fff;
  background: #3b9ff3;
  border: 1px solid #3596e7;
}
.btn-dish:hover, .btn-dish:focus, .btn-dish:active, .btn-dish.active, .open .dropdown-toggle.btn-dish{
  opacity: 0.87;
  color: #fff;
}
.btn-section {
  color: #fff;
  background-color: #343e4b;
  border: 1px solid #000;
}
.btn-section:hover, .btn-section:focus, .btn-section:active, .btn-section.active, .open .dropdown-toggle.btn-section{
  opacity: 0.87;
  color: #fff;
}