/*
*= require_self
*= require menu_builder_sortable
*= require language_selector_menu
*= require menu_help_stuff
*/

body {
    color: #0b0b0b;
    font-family: 'Open Sans', sans-serif;
}

#logo {
  width: 152px; 
  height: 40px;
  margin-bottom: 10px;
}
#white {
    color: #fff;
}
#dark {
    color: #29323a;
}
.admin_logo {
  background-image: url("/app/public/logo_white_nav.png");
}
.section-splash {
    width: auto;
    min-width: 0;
    max-width: 100%;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    color: #838383;
    border: 1px solid #D4D4D4;
    background-color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image:    -moz-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image:     -ms-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image:      -o-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image:         linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    
}
.section-splash h1, .section-splash h2 {
  color: #1a1a1a;
}
.section-splash .row {
  margin-bottom: 0px;
}
.section-splash hr {
  width: auto;
  border-top: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
}
.red {
  color: #cf2f28;
}
#social {
    font-size: 28px;
}
#splash_line {
  margin-top: 5px;
  margin-bottom: 5px;
}
.menu_editor_language {
  float: right;
  font-size: 16px;
  margin-right: 5px;
}
#no_bottom_margin {
  margin-bottom: 5px;
}

@media (max-width: 978px) {

    .col-xs-12 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 3px;
        padding-right: 3px;
    }

    .section {
        margin-left: 0px;
        margin-right: 0px;            
    }

    .push_down_small {
        margin-top: 5px;
    }
}

.label_left {
    padding-left: 5px;
    padding-right: 5px;
    height: 24px;
    line-height: 24px;        
}

.dish div[class^=col-xs] {
    padding-left: 0px;
    padding-right: 0px;
}
.dish_button_image div[class^=col-xs] {
    padding-left: 0px;
    padding-right: 10px;
}
.dish_button_options div[class^=col-xs] {
    padding-left: 10px;
    padding-right: 0px;
}
.dish_button_sizes div[class^=col-xs] {
    padding-left: 0px;
    padding-right: 0px;
}
#no_padding {
    padding-left: 0px;
    padding-right: 0px;
}
#extra_padding {
    padding-left: 30px;
    padding-right: 30px;
}
.thumbnail {
    display: inline-block;
}

.file_upload_button {
    position: relative;
    overflow: hidden;
}

.file_upload_input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 50px;
    direction: ltr;
    cursor: pointer;
}    

.section_header {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
    min-width: 450px;
    display: block;
    overflow:auto;
    border:1px solid #cccccc;
    background:#dddddd;
    border-radius:5px;      
}

.menu_controller {
    background-color: #f7f7f7;
    position: fixed;     
    bottom: 0px;
    width: 100%;
    /*height: 50px;*/
    overflow: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #dae3e9;
    z-index: 4000;   
}    

.title_and_price {
    margin-left: 10px;
    margin-right: 30px;
}

.title_and_price .input-group {
    margin-top: 5px;
}   

.text-middle {
    width: 100%;
}

.section { 
    max-width: 1000px;
}


.individual_option_container {
    background-color: #f7f7f7;
    border-radius: 5px 5px 5px 5px;
    border: #000;
    padding: 10px;
}

.dish_name {
    text-align: left;
}

.individual_option {
    position: relative;
    display: inline-block;
    width: 100%;    
    vertical-align: top;    
}

.description {
    width: 100%;
    height: 100%;
}

.option_default {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.no_pad {
    padding-left: 0px;
    padding-right: 0px;
}

.push_down {
    margin-top: 8px;
}

.col-left{
    float: none;
    margin: 0 auto;
    text-align: left;
}

input {
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.dishCloseButton {
    display:block;
    position:absolute;
    top:-5px;
    right:-5px;
    width:27px;
    height:27px;
    font-size: 24px;
    color: red;
}

.closeButton {
    display:block;
    position:absolute;
    top:-5px;
    right:-15px;
    cursor: pointer;
    width:27px;
    height:27px;
    font-size: 24px;
    color: red;
}   

.optionCloseButton {
    display:block;
    position:absolute;
    cursor: pointer;
    top:3px;
    right:-10px;
    width:27px;
    height:27px;
    font-size: 24px;
    color: red;
}  

.suboptionCloseButton {
    display:block;
    position:absolute;
    cursor: pointer;
    top:3px;
    left:0px;
    width:27px;
    height:27px;
    font-size: 24px;
    color: red;
} 

.sizeCloseButton {
    display:block;
    position:absolute;
    cursor: pointer;
    top:3px;
    left:10px;
    width:27px;
    height:27px;
    font-size: 24px;
    color: red;
}

#loading {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10000;
    width:100%;
    height:100%;
    display: none;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}  

.price_option_label {
    height: 24px;
    line-height: 24px;
    text-align: right;
}

.selection_constraint_label {
    height: 34px;
    line-height: 34px;
    text-align: right;
}    

.jcrop-keymgr {
    opacity :0;
}

.dish_top {
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    height: 30px;
    /*width: 100%;*/
    border-radius: 5px 5px 0px 0px; 
    background-color: #1a1a1a;
}

.dish_section {
    position: relative;
    display: inline-block;
    min-height: 200px;
    margin-bottom: 15px;
    padding: 15px;
    padding-top: 30px; 
    max-width: 600px;  
    background-color: #f7f7f7;
    border: 1px solid #dae3e9;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 3px 3px 3px -2px rgba(26,26,26,1);
    -moz-box-shadow: 3px 3px 3px -2px rgba(26,26,26,1);
    box-shadow: 2px 2px 3px -2px rgba(26,26,26,1);;
}

.section_section {
    position: relative;
    display: inline-block;
    min-height: 100px;
    margin-bottom: 15px;
    padding: 15px;
    padding-top: 30px; 
    max-width: 600px;  
    /*width: 100%;*/
    background-color: #f7f7f7;
    border: 1px solid #dae3e9;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 3px 3px 3px -2px rgba(26,26,26,1);
    -moz-box-shadow: 3px 3px 3px -2px rgba(26,26,26,1);
    box-shadow: 2px 2px 3px -2px rgba(26,26,26,1);;
}

.dish {
    vertical-align: top;
}

.dish_top .icon {
    position: absolute;
    left: 2px;
    top: 2px;
}

.dish_top .top_dish_icon {
    position: absolute;
    right: 32px;
    top: 4px;
    font-size: 21px;
    color: #cf2f28;
}

.dish_top .dish_close_icon {
    position: absolute;
    right: 2px;
    top: 4px;
    font-size: 21px;
    color: #cf2f28;
}

.dish_top .option_title {
    position: absolute;
    left: 35px;
    top: 0px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

.option {
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 3px 3px 3px -2px rgba(26,26,26,1);
    -moz-box-shadow: 3px 3px 3px -2px rgba(26,26,26,1);
    box-shadow: 2px 2px 3px -2px rgba(26,26,26,1);
    position: relative;
}

.option_section {
    display: inline-block;
    padding: 10px;  
    width: 100%;   
    margin-top: 29px; 
    vertical-align: top;  
    border-radius: 0px 0px 5px 5px;
    background-color: #7BADCE;
    border: 1px solid #293944;
}
.more_options {
    display: inline-block;
    padding: 10px;  
    width: 100%;   
    margin-top: 29px; 
    vertical-align: top;  
    border-radius: 0px 0px 5px 5px;
    background-color: #494E51;
    border: 1px solid #2E3133;
}
.menu_guide {
    color: white;
    width: 250px;
    display: inline-block;
    padding: 15px;
    height: 1000px;
    vertical-align: top;
    background-color: #332F2E;
}

.dish_view {
    min-width: 1200px;
    display: inline-block;
    height: 100%;
    padding: 15px;
    text-align: center;
}

body {
    margin-bottom: 50px;
    padding-top: 50px;
}

#wrapper {
  padding-left: 220px;
  transition: all 0.4s ease 0s;
  height: 100%;
}

.media-object {
    border-radius: 5px;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 220px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 40px;
  padding-bottom: 15px;
  overflow-y: auto;
  background-color: #f7f7f7;
  box-shadow: 3px 0px 3px -2px #f1f1f3;
  -webkit-transition: margin-right .3s ease;
  -moz-transition: margin-right .3s ease;
  -o-transition: margin-right .3s ease;
  -ms-transition: margin-right .3s ease;
  border-right: 1px solid #dae3e9;
  transition: margin-right.3s ease;
}

#page-content-wrapper {
  width: 100%;
  background-color: white;
  height: 100%;
}

.page-content {
    width: 100%;
    height: 100%;
    border-color: #332F2E;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;     
}

.sidebar-nav {
  /*position: absolute;*/
  /*top: 108px;*/
  width: 100%;
  list-style: none;
  margin: 0;
  /*padding-right: 10px;*/
  padding-left: 0px;
  padding-bottom: 50px;
}
.sidebar-nav .section_title_menu {
  padding-right: 0px;
  padding-left: 5px;
  cursor: pointer;
}

.sidebar-nav li {
  color: #6e829b;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
#uppercase {
    text-transform: uppercase;
}
#white_uppercase {
  color: #fff;
  text-transform: uppercase;
}
.sidebar-nav .media-heading {
    margin: 0px;
}

.sidebar-nav .media {
    margin: 0px;
}
.sidebar-nav h4, .sidebar-nav .h4{
    line-height: 25px;
    font-size: 15px;
    font-weight: 250;
}
.sidebar-nav li.menu_dish_item h4 {
  display: inline-block;
}
#menu-toggle {
    font-size: 25px;
}
#icon_edit {
    margin-right: 15px;
}
.sidebar-nav .menu_dish_item {
    cursor: pointer;
    margin-left: 0px;
    position: relative;
    padding-left: 10px;
    min-height: 35px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;
}

#icon_play {
    position: absolute;
    right: -2px;
    top: 10px;
    color: #f7f7f7;
    z-index: 6000;
}

.menu_dish_item .glyphicon:hover {
    color: #fff;
    z-index: 6000;
}
.btn-section {
  color: #fff;
  background-color: #343e4b;
  border: 1px solid #232A33;
}

#add_section_button .btn-section {
  width: 135px;
}

.btn-section:hover, .btn-section:focus, .btn-section:active, .btn-section.active, .open .dropdown-toggle.btn-section{
  opacity: 0.87;
  color: #fff;
}
.btn-dish {
  color: #fff;
  background: #3b9ff3;
  border: 1px solid #3596e7;
}
.btn-dish:hover, .btn-dish:focus, .btn-dish:active, .btn-dish.active, .open .dropdown-toggle.btn-dish{
  opacity: 0.87;
  color: #fff;
}
#restaurant_name {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #dae1e8;
  box-shadow: 0 2px 1px -1px #FFFFFF;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  padding-right: 5px;
  text-align: right;

}
#add_dish_button {
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#add_section_button {
  margin-left: -15px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: -15px;
  text-align: right;
  padding-right: 5px;
}
.sidebar-nav li.menu_dish_item:hover, .sidebar-nav .section_title_menu:hover, .sidebar-nav li.menu_dish_item.active, .sidebar-nav .section_title_menu.active {
  color: #fff;
  background-color: #B7B7B7;
  text-decoration: none;
}
.sidebar-nav li >.active {
  color: #fff;
  background-color: #B7B7B7;
  text-decoration: none;
}
.add_section {
    margin-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #dae1e8;
    box-shadow: 0 2px 1px -1px #FFFFFF;    
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
    padding: 20px; 
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    z-index: 6000;
}
@media (min-width: 768px) {
  .section-splash {
    width: 650px;
  }
}

@media (min-width: 992px) {
  .section-splash {
    width: 650px;
  }
}

@media (min-width: 1200px) {
  .section-splash {
    width: 650px;
  }
}
@media (max-width: 767px) {
.section-splash {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.control-label {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
}
}
@media (max-width:1300px) {


}

@media (max-width:767px) {
  
      .navbar-nav {
    margin: 0px -15px;
    }

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 220px;
      transition: all 0.4s ease 0s;
    }

    #menu-toggle {
      display: inline-block;
    }

    .inset {
      padding: 15px;
    }
    #iphone_button {
        padding-top: 5px;
    }
}

.web_preview {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  min-width: 300px;
}
.mock-dish {

}
.dish-title {
    font-size: 20px;
    color: #1a1a1a;    
}
.dish-price {
    text-align: center;
    color: #cf2f28;
    font-size: 20px
}
.dish-section-title hr {
width: auto;
border-top: 1px solid #cf2f28;
border-bottom: 2px solid #cf2f28;
margin-top: 40px;
}
.dish-picture {
    padding-top: 20px;
    padding-bottom: 20px;

}
.dish-description {
    padding-top: 20px;
    font-size: 16px;
}
.dish-options {
    text-align: center;
    font-size: 18px;

}
hr {
    width: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.resto-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

}
.resto-contact {
    font-size: 20px;
    text-align: center;
}
.resto-contact strong {
    font-size: 40px;
    text-transform: uppercase;
}

.web_preview_uiscrollview {
    position: relative;
    width: 100%;
}

.description_text {
    text-align: left;
}

.web_preview_uiscrollview ul {
    white-space: nowrap;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.web_preview_uiscrollview li {
    display:inline;
    width: 100%;
    min-height: 240px;
}

.web_preview_uiscrollview img {
    vertical-align: top;
}
.web_preview .button {
    background-color: #999;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,0.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.25),
                0 .25em .25em hsla(0,0%,0%,.05);
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 .5em 1em;
    padding: .5em 1.5em .75em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
}
.we .button:hover {
    outline: none;
}
.web_preview .button:hover,
.web_preview .button:focus {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.25),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                0 .25em .25em hsla(0,0%,0%,.05);
}
.web_preview .button.active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    margin-top: .25em;
    outline: none;
    padding-bottom: .5em;
}

/* Light Text */

.web_preview .lightText {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.05),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                0 .25em .25em hsla(0,0%,0%,.1);
    color: #fff;
    text-shadow: 0 -1px 1px hsla(0,0%,0%,.25);
    text-align: center;
}
.web_preview .lightText:hover,
.web_preview .lightText:focus {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.05),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                0 .25em .25em hsla(0,0%,0%,.1);
}
.web_preview .lightText.active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.05),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
}
.web_preview .square {
    border-radius: .25em;
}
.web_preview .grey {
    background-color: #999;
}
.web_preview .red {
    background-color: #cf2f28;
}