.fixed_helper_container {
  width: 200px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  position: fixed;
}

.helper_container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.helper_arrow {
  position: absolute;
  left: -12px;
  top: 50%;
  -webkit-transform:  translateY(-50%) scaleX(-1);
  -moz-transform:     translateY(-50%) scaleX(-1);
  -ms-transform:      translateY(-50%) scaleX(-1);
  -o-transform:       translateY(-50%) scaleX(-1);  
  transform:          translateY(-50%) scaleX(-1);
  -webkit-backface-visibility: hidden;  
}