.cover-photo-upload {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
}

.cover-photo-upload-icon.active {
    font-size: 24px;
}

.cover-photo {
    height: 500px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

 .cover-photo-upload-spin {
    font-size: 38px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
 }

@media only screen and (max-width: 600px) {
    .cover-photo {
        height: 285px !important;
    }
}