.restaurant-title{color:#231f20; font-size:20px; font-weight:700;}
.restaurant-data{width:100%; padding-bottom: 25px;}
.restaurant-pic{width:33%;position: relative;}
.restaurant-pic span a{color: #fff; font-size: 16px; display: none;}
.restaurant-pic span.restaurant-like{position: absolute; left: 11%; bottom: 10px;}
.restaurant-pic span.restaurant-share{position: absolute; left:46%; bottom: 10px;}
.restaurant-pic span.restaurant-plus{position: absolute; right: 9%; bottom: 10px;}
.restaurant-prfle{width:63%;}
.restaurant-prfle span.restaurant-sub{font-size:15px; color:#bbb; float:left; width:100%; font-weight:normal; padding:5px 0;}
.restaurant-prfle span.restaurant-sub span.byname{font-weight:700; color:#aaa;}
.restaurant-prfle span.restaurant-sub span.daysago{float:right; font-size:12px;}
.counter-tab{float: left; width: 100%; padding-top: 45px;}
.counter-tab div{float: left; width: 33%; color: #aaa; font-size: 12px;}
.bot-links{float: left; width: 100%; padding-top: 10px;}
.bot-links a{display: inline-block; padding: 5px; background: #ccc; font-size: 12px; margin-bottom: 5px; color: #9c9c9c; text-decoration:none;}
span.play-icon{position: absolute; left: 31%; top: 32%; display: none;}
.restaurant-pic:hover img.play-icon, .restaurant-pic:hover span a{display: block; } 

.network_menu_header {
	background-image:url('https://d5ca3b0520fac45026ad-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/dark_leather_@2X.png');
	background-repeat:repeat;	
}

