@import url(https://fonts.googleapis.com/css?family=Lato|Oswald:400,700);

/*user form*/
.language_selector_prize {
    position: absolute;
    top: 10px;
}

.prize_print {
    position: absolute;
    right: 10px;
    top: 0;    
}

.prizes_controls {
    margin-top: 80px;
}


.prizes_controls .nav {
    text-align: center;
    width: 100%;
}

.prizes_controls .nav>li {
    float: none;
    display: block;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px !important;
    color: #565a5c;
}

.prizes_controls .nav a {
    font-family:'Oswald', sans-serif;
    font-size: 16px !important;
    color: #565a5c;
}

.prizes_controls .nav>li>a {
    position: relative;
    display: block;
    padding: 8px 5px;    
}

.prizes_controls .nav {
    font-family:'Oswald', sans-serif;
    font-size: 14px !important;
    color: #3B5998;
}

.prizes_controls .nav-pills>li {
    border-radius: 4px;
    color: #565a5c;
    background-color: #f5f6f5;
    padding: 8px 5px;
}

.nav-pills>li.active, 
.nav-pills>li.active:hover, 
.nav-pills>li.active:focus,
.prizes_controls .nav-pills>li:hover,
.prizes_controls .nav-pills>li:focus {
    background-color: #cf2f28;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.prizes_controls .nav-pills>li.active:hover,
.prizes_controls .nav-pills>li.active:focus {
    background-color: #cf2f28;
    border-radius: 4px;
}

.nav-pills>li+li {
    margin-left: 0px;
}
/*profile form*/ 

.prizes_form_wrapper {
    border-radius: 4px;
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    background-color: #f5f6f5;
    max-width: 700px;

}
.prizes_form_wrapper label {
    color: #565a5c;
    font-family: 'Lato', sans-serif;

}
.prizes_form_wrapper .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
.prizes_form_wrapper h2 {
    border-radius: 4px 4px 0 0;
    color: #565a5c;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
}
.prizes_form_wrapper .form-horizontal .form-group .help-block {
    color: #838383;
}
/*/profile form*/

/*design form*/
.design_form_wrapper {
    border-radius: 5px;
    color: #838383;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #838383;
    margin-bottom: 15px;
}
.design_form_wrapper .form-group .btn {
    margin-top: 10px;
}

.prizes_form_wrapper .language_selector_prize select {
    margin: auto;
    display: block;
    background-color: #fff;
    color: #cf2f28;
    border: 1px solid#cf2f28;
}
.base_bar {
    background: rgba(248,248,248,.9);
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}
#business-hours-form {
    margin-bottom: 15px;
}
.prizes_form_wrapper textarea:focus, 
.prizes_form_wrapper input[type="text"]:focus, 
.prizes_form_wrapper .uneditable-input:focus {   
    border-color: rgba(51, 51, 51, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(51, 51, 51, 0.6);
    outline: 0 none;
}
.prizes_form_wrapper .bell li:before {    
    font-family: 'FontAwesome';
    content: "\f0f3";
    margin:0 5px 0 -15px;
}
.prizes_form_wrapper ul {    
    list-style-type: none;
}
.prizes_form_wrapper .secure_footer .fa{
    color: #cf2f28;
}
.prizes_form_wrapper .secure_footer {
    text-align: center;
}
.prizes_form_wrapper .stripe {
    display: block;
    margin-top: 10px;
}
.prizes_form_wrapper .stripe:hover,
.prizes_form_wrapper .stripe:focus {
    opacity:.70;
    filter:alpha(opacity=70); 
}

.profile_images img {
    border-radius: 5px;
    margin-bottom: 5px;
    border: 3px solid black;
}

.profile_images img.active {
    border: 3px solid red;
}

.profile_images img:hover {
    border: 3px solid blue;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #cf2f28;
    color: #fff;
    background: #cf2f28;
}

input {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
}

label {
    font-weight: 500;
}

.individual_prize_box {
    border: 1px solid #838383;
    margin: 3px;
    border-radius: 4px;
    overflow: hidden;
}

.wrap {
    padding: 0 15px;
}

.wrap a {
    text-decoration: none;
}

#print_codes {
    color: #838383;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    box-shadow: inset 0px 0px 2px 1px transparent,
    inset 0px 0px 30px 15px transparent,
    0px 0px 1px 1px transparent;
    padding: 15px 0;
    border-radius: 4px;
}

#print_codes:hover,
#print_codes:focus {
    color: #838383;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.4), inset 0px 0px 30px 15px rgba(0, 0, 0, 0.05), 0px 0px 1px 1px #add8e6;
}

@media (max-width: 992px) {
    .prizes_form_wrapper{
        margin-left: auto;
        margin-right: auto;
    }
}
/*changes*/
.btn-rewards {
    color: #cf2f28;
    border: 1px solid #cf2f28;
}
.btn-rewards:hover,
.btn-rewards:focus {
    color: #fff;
    background-color: #cf2f28;
}
.btn-save {
    color: #329C0F;
    border: 1px solid #329C0F;
    background-color: #fff;
}
.btn-save:hover,
.btn-save:focus {
    background-color: #329C0F;
    color: #fff;
}
.prizes_form_wrapper input {
    font-family: 'Lato', sans-serif;
}
.prizes_form_wrapper textarea.form-control {
    font-family: 'Lato', sans-serif;
}
.prizes_form_wrapper .input-group-addon:first-child {
    background-color: #fff;
}
.prizes_form_wrapper .caret {
    color: #cf2f28;
}