.list-prizes {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.list-prizes-item {
    background: #FFF;
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 8px;
}

.dishcoin_count {
    background: #FFF;
    padding: 10px;
    border-bottom: 1px solid #000;   
    border-top: 1px solid #000;   
}

.prizes_control {
    background: #FFF;
    padding: 10px;
    border-bottom: 1px solid #000;   
    border-top: 1px solid #000;
    top: 50%;
    left: 10px;
    right: 10px;
    position: absolute;
    -webkit-transform:  translateY(-50%);
    -moz-transform:     translateY(-50%);
    -ms-transform:      translateY(-50%);
    -o-transform:       translateY(-50%);  
    transform:          translateY(-50%);
}

.close_prize {
    position: absolute;
    height: 40px;
    width: 20px;
    color: red;
    right: 0px;
    top: -40px;
    font-size: 2em;
    z-index: 10;
}