/*user form*/

.profile_controls .nav {
    text-align: center;
    width: 100%;
}

.profile_controls .col-md-6 {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.profile_controls .nav li {
    float: none;
    display: block;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.profile_controls .nav>li>a {
    position: relative;
    display: block;
    padding: 8px 5px;    
}

.profile_controls .nav a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    color: #838383;
}

.profile_controls .nav-pills>li {
    border-radius: 5px;
    color: #000;
    border: 1px solid #838383;
    background-color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image: -moz-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image: -ms-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image: -o-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image: linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus,
.profile_controls .nav-pills>li>a:hover,
.profile_controls .nav-pills>li>a:focus {
    background-color: #838383;
    color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image: -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image: -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: 3px;
    /*box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2), inset 0 2px 0 hsla(0,0%,100%,.1), inset 0 1.2em 0 hsla(0,0%,100%,0.1), inset 0 -.2em 0 hsla(0,0%,100%,.1), inset 0 -.25em 0 hsla(0,0%,0%,.25), 0 .25em .25em hsla(0,0%,0%,.05);*/
}
.profile_controls .nav-pills>li.active>a:hover,
.profile_controls .nav-pills>li.active>a:focus {
    background-color: #838383;
    border-radius: 3px;
}

/*profile form*/ 

.profile_form_wrapper {
    border-radius: 5px;
    color: #838383;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image:    -moz-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image:     -ms-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image:      -o-linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    background-image:         linear-gradient(hsla(0,0%,0%,.05), hsla(0,0%,100%,.05));
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

}
.profile_form_wrapper .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
.profile_form_wrapper h2 {
    background-color: #cf2f28;
    border-radius: 4px 4px 0 0;
    color: #fff;
    text-transform: uppercase;
    margin-top: -15px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
    margin-bottom: 20px;
    text-shadow: #000 0px 1px 5px;
        background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
}
.profile_form_wrapper .form-horizontal .form-group .help-block {
    color: #838383;
}
/*/profile form*/

/*design form*/
.design_form_wrapper {
    border-radius: 5px;
    color: #838383;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #838383;
    margin-bottom: 15px;
}
.design_form_wrapper .form-group .btn {
    margin-top: 10px;
}

.profile_form_wrapper select {
    margin: auto;
    display: block;
}
