.restaurant_name {
  text-align: center;
  color: #000;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 500px;  
  height: 100%;
}

.logo {
/*  text-shadow: .04em .04em 0 #fff,.08em .08em 0 #aaa;
  -webkit-text-shadow: .04em .04em 0 #fff, .08em .08em 0 #aaa;*/
  line-height: 70px;
  display: inline-block;
  overflow: hidden;
}

@media (max-width: 560px){
	.restaurant_name {
		width: 300px;
	}
}

@media (max-width: 340px){
	.restaurant_name {
		width: 250px;
	}
}