.restaurant_list {
    max-height: 500px;
    overflow-y: scroll;
}

.restaurant_list ul {
    list-style: none;
    padding: 5px;
    margin: 0px;
}

.restaurant_list .row {
    margin-bottom: 0;
}

.restaurant_list li h4 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 35px;
    height: 35px;
}

.restaurant_list li {
    border: 3px solid #DCDCDC;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;    
}

.restaurant_list li:not(:last-child) {
    margin-bottom: 5px;
}

.restaurant_list li:hover {
    border-color: #C71010;
}