.resto_setup_container {
    top: 55px;
    position: relative;
    color: white;
    left: 50%;
    float: left;
/*    -webkit-transform:  translateX(-50%);
    -moz-transform:     translateX(-50%);
    -ms-transform:      translateX(-50%);
    -o-transform:       translateX(-50%);  
    transform:          translateX(-50%);*/
}

.resto_contents {
    background-color: rgba(0,0,0,0.7);
    padding: 30px;
    float: right;
    position: relative;
    left: -50%;
}

.resto_claim_box, .start_me_up {
    display: inline-block;
    width: 500px;
    padding: 15px;
    vertical-align: top;
}

.resto_setup_container .btn, .resto_setup_container input {
    border-radius: 3px;
}

.create_restaurant_row {
    min-height: 45px;
}

.restaurant_static_template {
    margin-bottom: 20px;
}

.restaurant_list h6 {
    height: 25px;
    line-height: 25px;
    padding: 0px;
    margin: 0px;
    padding-left: 4px;
    padding-right: 4px;
    overflow: hidden;
}

.restaurant_list {
    max-height: 500px;
    position: absolute;
    z-index: 99;
    left: 0px;
    right: 0px;
    color: black !important;
}
.restaurant_list::-webkit-scrollbar {
    width: 0px;
}

#map_loc_setup {
    width: 100%;
    height: 200px;
    border: 0px;
}

.result_icon {
    position: absolute;
    left: 12px;
    font-size: 16px;
    height: 35px;
    line-height: 35px !important;
    top: 0px;
}

.resto_search_bar {
    position: relative;
    width: 100%;
}

.restaurant_list ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #000;
    border-top: 0px;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    background-color: white;
}

.restaurant_list .row {
    margin-bottom: 0;
}

.resto_search_bar input:focus {
    border-radius: 5px 5px 0px 0px; 
}

.restaurant_list li h4 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 25px;
    height: 25px;
}

.restaurant_list li {
    border: 0px solid #FFFFFF;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    position: relative;    
}

.restaurant_list li:not(:last-child) {
}

.restaurant_list li:hover {
    background-color: #A5CFF0;
}
.resto_sear .restaurant_list ul {
    list-style: none;
    padding: 5px;
    margin: 0px;
}