.restaurant_name {
  text-align: center;
  color: #000;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.logo {
/*  text-shadow: .04em .04em 0 #fff,.08em .08em 0 #aaa;
  -webkit-text-shadow: .04em .04em 0 #fff, .08em .08em 0 #aaa;*/
  line-height: 70px;
  display: inline-block;
  width: 500px;
}

@media (max-width: 560px){
	.logo {
		width: 200px;
	}
}

@media (max-width: 340px){
	.logo {
		width: 180px;
	}
}