/*Sign in styles */
.back_button:hover {
	text-decoration: none;
}
.section-signup {
    padding-bottom: 20px;
    color: white;
}
.checkbox {
    font-size: 14px;
}
.controls {
  padding-top: 7px;
}
#create {
    margin-left: 10px;
}
.help-block {
  font-size: 12px;
  margin-left: 10px;
  color: #fff;
}
#forgot {
  margin-top: 7px;
  font-size: 14px;
  text-align: right;
}
.forgot {
	color: #fff;
}
.secured {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.sign-up-bread .breadcrumb {
	background-color: inherit;
}
.sign-up-bread {
    padding-left: 20px;
    padding-right: 20px;
}
.sign-up-bread a {
    color: #fff;
}
.sign-up-bread hr {
    border-top: 1px solid #e6e6e6;
    margin-left: auto;
    margin-right: auto;
}
.sign-up-bread .active {
    color: #cf2f28;
}
.container_small {
    width: auto;
    min-width: 0;
    max-width: 100%;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
}
#sign-up-form {
    padding-top: 10px;
}
.fa-lock {
  color: #cf2f28;
}
#bread {
    font-size: 20px;
}
#verify {
    margin-left: 10px;
    margin-top: 20px;
}
.form-control {
  color: #737373;
}
label {
  font-weight: 100;
  }
body {
    background: url(https://dishgo.ca/app/public/img/sign_up.jpg) repeat;
    background-attachment: fixed;
    background-position: top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
select {
  color: #737373;
}
@media (min-width: 768px) {
  .container_small {
    width: 650px;
  }
}

@media (min-width: 992px) {
  .container_small {
    width: 650px;
  }
}

@media (min-width: 1200px) {
  .container_small {
    width: 650px;
  }
}
@media (max-width: 767px) {
      .move {
    margin-top: 10px;
}
#bread {
    font-size: 16px;
}
.container_small {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 40px;
}
.sign-up-bread .active {
font-size: 20px;
}
}