/*.pop_up_menu_dish_rating {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	text-align: center;
}*/
.top_dish_rating_container {
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0;
}
.top_dish_rating_container p {
	font-size: 16px;
}
.top_dish_rating_container textarea {
	margin: auto;
	text-align: left;
	display: block;
	height: 100px;
}
.top_dish_rating_container .btn-rewards {
	background-color: #fff;
	padding: 6px 12px;
	font-size: 16px;
	margin-top: 20px;
}
.top_dish_rating {
	z-index: 10;
}
.top_five_tool {
	background: rgba(255,255,255,1);
}
.top_five_dish_container {
	position: relative;
	height: 200px;
	overflow: hidden;
	color: #000;
	border: solid 1px #e9e9e9;	
}

.dish_name_bar {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	width: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	background-color: rgba(0,0,0,0.8);
}

.top_five_border {
	border: 2px dashed #dcdcdc;
}
.top_five_description {
	font-size: 16px;
	color: #82898d;
}
.top_five_title {
	text-align: center;
	color: #565a5c;
}
.top_dish_rating_container .restaurant_name,
.top_dish_rating_container .rank {
	font-size: 22px;
	color: #cf2f28 !important;
}
.top_dish_rating_container .dish_title {
	display: block;
	color: #565a5c;
	font-size: 22px;
}
.top_dish_rating_container p {
	color: #82898d !important;
}
.main-bar {
	border-right: 1px solid #DCDCDC;
}
.sidebar h2 {
	text-transform: uppercase;
	color: #cf2f28;
}
.sidebar .trending {
	border-bottom: 1px solid #DCDCDC;
	padding: 0 15px 15px;
}
.sidebar_dish_link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}
.copybox {
	display: block;
	width: 100%;
	margin-top: 10px;
	font-family: 'lato' sans-serif;
	color: #82898d;
	padding: 2px;
}