/*.pop_up_menu_dish_rating {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	text-align: center;
}*/

/*.rating-bottom {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}*/

.menu_link {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    color: #cf2f28;
    text-transform: none;
}
.menu_link:hover,
.menu_link i:hover {
    color: #cf2f28;
}
.top_five_tool .top_dish_container:nth-child(1),
.top_five_tool .top_dish_container:nth-child(2),
.top_five_tool .top_dish_container:nth-child(3),
.top_five_tool .top_dish_container:nth-child(4) {
    border-bottom: 0 !important;
}
.top_five_tool .top_dish_container:nth-last-child(1) {
    border-bottom: solid 1px #e9e9e9;
    margin-bottom: 25px;
}
.instructions {
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0;
    font-family: 'lato' sans-serif;
    font-size: 18px;
    margin-left: 10px;
    text-shadow: 1px 2px 3px #000;
}
.instructions:hover,
.instructions:focus {
    color: #cf2f28;
    border: 0;
    outline: none;
}
.instructions-xs {
    text-align: left;
    color: #cf2f28;
    margin: 10px 0;
    cursor: pointer;
}
.form-control:focus {
    border: 1px solid #ccc;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.top_five_title i {
    color: #cf2f28;
    text-shadow: 1px 2px 3px #000;
}
.top_dish_rating_container a {
    text-decoration: none;
}

.prize_full_div_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.form-control {
	box-shadow: none;
}

.top_five_header .container {
    height: 100%;
    position: relative;
    color: white;
}
.top_five_header .countdown {
    position: absolute;
    top:10px;
    right: 10px;
    z-index: 1;
    text-shadow: 1px 2px 3px #000;
	text-rendering: optimizelegibility;
}
.top_five_header .top_five_title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    text-shadow: 1px 2px 3px #000;
	text-rendering: optimizelegibility;
    color: #fff;
    cursor: pointer;
}
.underline_dat {
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.top_five_header .top_five_title:hover .instructions {
    color: #cf2f28;
}
.top_dish_rating_container {
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0;
}
.top_dish_rating_container p {
	font-size: 16px;
}
.top_dish_rating_container textarea {
	margin: auto;
	text-align: left;
	display: block;
	height: 100px;
}
.top_dish_rating_container .btn-rewards,
#sign_in .btn-rewards {
	background-color: #fff;
	padding: 6px 12px;
	font-size: 16px;
	margin-top: 20px;
}
.top_dish_rating_container .btn-rewards:hover,
#sign_in .btn-rewards:hover {
    background-color: #cf2f28;
    color: #fff;
}
.top_dish_rating {
	z-index: 10;
}
.top_five_tool {
	background: rgba(255,255,255,1);
}
.top_five_dish_container {
	position: relative;
	height: 200px;
	overflow: hidden;
	color: #000;
	border: solid 1px #e9e9e9;	
}

.dish_name_bar {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	width: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	background-color: rgba(0,0,0,0.8);
}
.join_list:hover {
    text-decoration: none;
}
.top_five_border {
	border: 2px dashed #dcdcdc;
}
.top_five_description {
	font-size: 16px;
	color: #565a5c;
}
.top_five_description_header {
    color: #fff;
    text-shadow: 1px 2px 3px #000;
    text-rendering: optimizelegibility;
    font-size: 16px;
}
.top_dish_rating_container .restaurant_name {
	font-size: 22px;
	color: #cf2f28 !important;
}
.top_dish_rating_container .dish_title {
	display: block;
	color: #565a5c;
	font-size: 16px;
}
.top_dish_rating_container p {
	color: #82898d !important;
}
.sidebar h2 {
	text-transform: uppercase;
	color: #cf2f28;
}
.sidebar .trending {
	padding: 0 15px 15px;
}
.sidebar_dish_link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}
.copybox {
	display: block;
	width: 100%;
	margin-top: 10px;
	font-family: 'lato' sans-serif;
	color: #82898d;
	padding: 2px;
}
  .fb_share_bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    padding: 10px;
}

.btn-fb-network-share {
    border-radius: 0px !important;
    border: 1px solid #3B5998 !important;
}

.list-prizes {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.list-prizes-item {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 0px;
    position: relative;
    min-height: 100px;
    border: 1px solid #82898d;
}
#ui-datepicker-div {
    z-index: 20 !important;
}

.head {
    margin-top: 5px;
}

.list-prizes-item h4.restaurant_name {
    color: #cf2f28;
}

.list-prizes-item i {
    color:#cf2f28; 
}

.list-prizes-item i:after {
    content: "";
    font-weight: bold; 
}

.coupon_name {
    color: #565a5c;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    letter-spacing: normal;
}

.fine {
    font-size: 11px;
    margin-bottom: 0;
}

.bidding {
    border-top: 1px solid #dfe0df;
    padding-top: 10px;
    font-weight: 600;
    color: #565a5c;
    margin-bottom: 10px;
    display: inline-block;
}

#account {
    background-color: #373737;
}

.prizes_control h3.restaurant_name {
    color: #cf2f28;
    margin-top: 5px;
}

.grey_bg {
    background-color: #f5f6f5;
    margin: 0 -15px;
    padding: 15px;
}

.grey_bg p {
    color: #82898d;
}

.dishcoin_count {
    background: #373737;
    color: #fff;   
}

.coin {
    height: 20px;
    padding-bottom: 5px;
}

.dishcoin_count a,
.dishcoin_count a i {
    color: #cf2f28;
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 1.428571429;
    letter-spacing: .5px;
}

.btn-rewards {
    background-color: #fff;
    color: #cf2f28;
    border-color: #cf2f28;
    margin-top: 5px;
    padding: 5px 10px;
}

.btn-rewards i {
    display: none;
}

.btn-rewards.active i {
    display: inline-block !important;
}

.btn-rewards:hover,
.btn-rewards:focus{
    color: #fff;
    border-color: #cf2f28;
    background-color: #cf2f28;
}

.btn-rewards.active {
    color: #fff !important;
    border-color: #cf2f28 !important;
    background-color: #cf2f28 !important;
}

.btn-return {
    background-color: #cf2f28;
    border-color: #cf2f28;
    color: #fff;
}

.btn-return:hover,
.bth-return:focus {
    color: #fff;
    background-color: #cf2f28;
}

.dishcoin_count .rewards {
    border-top: 1px solid #dfe0df; 
    padding-top: 20px;
}

.prizes_control {
    background: #FFF;
    padding: 10px;
    border: 3px dashed #82898d;   
    top: 50%;
    left: 10px;
    right: 10px;
    position: absolute;
    -webkit-transform:  translateY(-50%);
    -moz-transform:     translateY(-50%);
    -ms-transform:      translateY(-50%);
    -o-transform:       translateY(-50%);  
    transform:          translateY(-50%);
    text-align: center;
}

.prizes_control p {
    color: #82898d;
}

.token {
    color: #cf2f28;
    font-size: 22px;
    background-color: #fff;
    padding: 6px 12px;
    border: 1px solid #cf2f28;
    border-radius: 0 4px 4px 0;
}

.close_prize {
    position: absolute;
    height: 40px;
    width: 20px;
    color: #cf2f28;
    right: 0px;
    top: -40px;
    font-size: 2em;
    z-index: 10;
}
.cnrflash{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    border-radius: 0px;
}
.cnrflash-inner{
   position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
    height: 110px;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    background-color: #cf2f28;
}
.cnrflash-inner:before,
.cnrflash-inner:after{
    content:" ";
    display:block;
    position:absolute;
    bottom:-12px;
    width:0;
    height:0;
}
.cnrflash-inner:before{             
    left: -3px;
    border-bottom-color:transparent;                
    border-right-color: transparent;
            }
.cnrflash-inner:after{
    right:0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label{
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    width:100%;
    padding-bottom:5px;
    color:#fff;
    text-shadow:0 1px 1px rgba(1,1,1,.8);
    font-size:0.95em;
    font-weight:bold;
    text-align:center;
}
#faq a,
#faq a i {
    color: #cf2f28;
    font-size: 18px;
    text-decoration: none;
}
.answers {
    background-color: #f5f6f5;
}
.answers h4 {
    margin-top: 20px;
}
.answers a,
.answers a i {
    color: #cf2f28;
    text-decoration: none;
}
.answers ol li {
    margin-bottom: 10px;
    color: #82898d;
}
.answers p {
    color: #82898d;
}
.coupon_number {
    font-size: 22px;
    color: #fff;
    background-color: #cf2f28;
    padding: 6px 12px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #cf2f28;
}
.value {
    color:#fff; 
    font-size:18px;
    background-color: #cf2f28;
    padding: 6px 12px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: inline-block;
}
.top_five_header {
    	height: 350px;
}
.btn:focus {
  outline: none;
}
.col-custom-70 {
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
}
.col-custom-30 {
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
}

@media only screen and (max-width: 600px) {
    .top_five_header {
    	height: 250px;
        background-position: 50% 0 !important;
        background-repeat: no-repeat !important;
        background-attachment: initial !important; 
        /*z-index: -1; */
        position: relative;   
    }
    .top_five_tool .top_dish_container {
        height: auto !important;
        border: 0 !important;
    }
    .top_five_tool .top_dish_container .dish-picture{
    	height: 250px;
        background-position: 50% 0 !important;
        background-repeat: no-repeat !important;
        background-attachment: initial !important;       
    }
    .main-bar {
    	padding: 0;
    	border: 0;
    }
    .main-bar .col-xs-12 {
    	padding: 0 15px;
    }
    .top_dish_rating_container {
    	text-align: center;
    }
    .top_five_tool .top_dish_container .col-sm-8 {
		padding: 0;
	}
	.top_five_header .countdown {
	    position: absolute;
	    top:10px;
	    right: 0;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    z-index: 1;
	    text-shadow: 1px 2px 3px #000;
		text-rendering: optimizelegibility;
	}
	.top_five_header .top_five_title {
	    position: absolute;
	    bottom: 25px;
	    right: 0;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    z-index: 1;
	    text-shadow: 1px 2px 3px #000;
		text-rendering: optimizelegibility;
        color: #fff;
        border: 0;
	}
    .instructions-xs {
    text-align: center;
    padding: 6px 12px;
    border: 1px solid #cf2f28;
    border-radius: 0;
}
.menu_link {
    position: relative;
    margin-top: 10px;
    bottom: 0;
}

.join_list h2 {
    font-size: 22px;
    text-align: center;
}

}
@media only screen and (max-width: 767px) {
	.top_five_tool .top_dish_container {
        height: auto !important;
    }
    .top_dish_rating_container {
    	text-align: center;
    }
}
@media only screen and (min-width: 768px) {
	.pop_up_menu_dish_rating i {
		font-size: 27px;
	}
	.pop_up_menu_dish_rating .left_over {
		font-size: 27px;
	}
	.main-bar .col-xs-12 {
		padding: 0;
	}
 	.top_dish_rating_container {
    	text-align: left;
    }
    .top_five_tool .top_dish_container {
        height: 450px !important;
    }
    .dish-picture {
        height: 450px !important;
    }
    .top_five_tool .top_dish_container .col-sm-8 {
		padding: 0 0 0 15px;
	}
    .col-custom-70 {
        width: 67%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
    }
    .col-custom-30 {
        width: 33%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        float: left;
    }
    .top_five_tool {
        padding-top: 30px;
    }
    .pierrich {
        margin-top: 0px;
    }
}
@media only screen and (min-width: 992px) {
	.pop_up_menu_dish_rating i {
		font-size: 34px;
	}
	.pop_up_menu_dish_rating .left_over {
		font-size: 34px;
	}
    .top_five_tool .top_dish_container {
        height: 350px !important;
    }
    .dish-picture {
        height: 350px !important;
    }
	.top_five_tool .top_dish_container .col-sm-4 {
		padding: 0 0 0 15px;
	}
    .col-custom-30 {
        width: 30%;
    }
    .col-custom-70 {
        width: 70%;
    }
}
@media only screen and (min-width: 1200px) {
	.top_five_header {
		height: 475px;
	}
	.pop_up_menu_dish_rating i {
		font-size: 40px;
	}
	.pop_up_menu_dish_rating .left_over {
		font-size: 40px;
	}
}


