.image_dropdown {
	position: relative;	
	margin-bottom: 10px;
	width: 162px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid rgb(159, 159, 168);
	padding: 5px;
	border-radius: 5px;	
}

.icon_dropdown {
	pointer-events:none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	top: initial;
	font-size: 20px;
}

.image_dropdown_div ul {
	position: absolute;	
	top: 0px;
	z-index: 900;
	list-style: none;
	background: white;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #20BFDD;
}

.image_dropdown_div ul img {
	width: 136px;
}

.image_dropdown li {
	border: 2px solid white;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.image_dropdown li:hover {
	border: 2px solid #20BFDD;
}

.image_dropdown img {
	width: 150px;
}

.image_dropdown img:hover {
}