<!-- <div class="layout_controls">
    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-pills" data-bind="foreach: $page.children">
                <li data-bind="css: {active: isVisible}"><a data-bind="text: $data.val('title'), page-href: $data"></a></li>
            </ul>
        </div>
    </div>   
</div>   --> 



<!-- ko if: current_design -->

    <div data-bind="page: {id: 'start', title: 'Pages'}" class="">

        <div class="pages_controller navigation_controller text-center" data-bind="with: $root.restaurant">
            <h4>Add / Edit Pages</h4>
            <ul class="">
                <!-- ko foreach: pages -->
                    <li data-bind="click: function(){ $root.current_page($data) }, lText: name, css:{ active: $data == $root.current_page()}"></li>
                <!-- /ko -->
            </ul>
            <button class="btn btn-inverse btn-lg" data-bind="click: function(){ $root.current_page(newPage()) }, attr:{disabled:pages().length > 3}, text: createNewPageText"><a>Create New Page</a></button>
        </div>

        <!-- ko if: current_page -->
            <div class="pages_settings" data-bind="with: current_page">
                <h4 style="margin-top: 0px">Page Settings</h4>
                <div class="editor_page_name row text-center" style="margin-bottom: 10px">
                    <div class="col-xs-12">
                        <input class="form-control" data-bind="lValue: name" placeholder="Page Title">
                    </div>
                </div>   
                <div class="editor_language_selector row">
                    <div class="col-xs-6">
                        <button class="btn btn-danger btn-sm" data-bind="click: function(){ remove($root.restaurant()) }">Remove Page</button>
                    </div>                      
                    <div class="col-xs-6" data-bind="visible: $root.show_lang">
                        <select class="form-control input-sm" data-bind="options: $root.languages, optionsText: function(item){ return fullLanguageName[item];}, value: $root.lang"></select>
                    </div>                  
                </div>                
            </div> 

            <div class="content_wrapper content_wrapper_editor">
                <div data-bind="template: { name: 'text_content_template', data: $root.current_page }" class="build_website_template_holder"></div>
            </div>
        <!-- /ko -->

    </div>

<!-- /ko -->
      
