<!-- <div class="layout_controls">
    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-pills" data-bind="foreach: $page.children">
                <li data-bind="css: {active: isVisible}"><a data-bind="text: $data.val('title'), page-href: $data"></a></li>
            </ul>
        </div>
    </div>   
</div>   --> 



<!-- ko if: current_design -->

    <div class="pages_controller navigation_controller text-center" data-bind="with: $root.restaurant">
        <h4>Add / Edit Pages</h4>
        
        <ul class="sortable_dishes" data-bind="sortable { template: 'page_tmp', data: pages, options: { containment: 'parent', tolerance: 'pointer' } }"></ul>
        <script id="page_tmp" type="text/html"><li data-bind="click: function(){ $root.current_page($data); pager.navigate('#!/pages') }, css:{ active: $data == $root.current_page()}"><!-- ko lText: name --><!-- /ko --><span class="pull-left fa fa-arrows-v"></span></li></script>

        <ul>
            <li data-bind="click: function(){ $root.current_page(null); pager.navigate('#!/pages/contact') }, css:{ active: pager.page.find('pages/contact').isVisible}">Contact</li>
            <li data-bind="click: function(){ $root.current_page(null); pager.navigate('#!/pages/menu') }, css:{ active: pager.page.find('pages/menu').isVisible}">Menu</li>
        </ul>
        <button class="btn btn-inverse btn-lg" data-bind="click: function(){ $root.current_page(newPage()) }, attr:{disabled:pages().length > 3}, text: createNewPageText"><a>Create New Page</a></button>
    </div>

    <div data-bind="page: {id: 'start', title: 'Pages'}" class="">
        <!-- ko if: current_page -->
            <div class="pages_settings" data-bind="with: current_page">
                <h4 style="margin-top: 0px">Page Settings</h4>
                <div class="editor_page_name row text-center" style="margin-bottom: 10px">
                    <div class="col-xs-12">
                        <input class="form-control" data-bind="lValue: name" placeholder="Page Title">
                    </div>
                </div>   
                <div class="editor_language_selector row">
                    <div class="col-xs-6">
                        <button class="btn btn-danger btn-sm" data-bind="click: function(){ remove($root.restaurant()) }">Remove Page</button>
                    </div>                      
                    <div class="col-xs-6" data-bind="visible: $root.show_lang">
                        <select class="form-control input-sm" data-bind="options: $root.languages, optionsText: function(item){ return fullLanguageName[item];}, value: $root.lang"></select>
                    </div>                  
                </div>                
            </div> 

            <div class="content_wrapper content_wrapper_editor">
                <div data-bind="template: { name: 'text_content_template', data: $root.current_page }" class="build_website_template_holder"></div>
            </div>
        <!-- /ko -->
    </div>


    <div data-bind="page: {id: 'menu', title: 'Menu Page', with: $root.restaurant}" class="content_wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h3 style="margin-bottom: 5px; margin-top: 5px">Menu Page Options</h3>                
                <div class="row">
                    <div class="col-xs-6">
                        <h4>Show Menu</h4>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show_menu_on_off" data-bind="checked: show_menu">
                            <label class="onoffswitch-label" for="show_menu_on_off">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>
                    </div>                
                </div>                
            </div>
        </div>
    </div>

    <div data-bind="page: {id: 'contact', title: 'Contact Page', with: $root.restaurant}" class="content_wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h3 style="margin-bottom: 5px; margin-top: 5px">Contact Page Options</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <h4>Show Hours</h4>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show_hours_on_off" data-bind="checked: show_hours">
                            <label class="onoffswitch-label" for="show_hours_on_off">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h4>Show Map</h4>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show_map_on_off" data-bind="checked: show_map">
                            <label class="onoffswitch-label" for="show_map_on_off">
                                <div class="onoffswitch-inner"></div>
                                <div class="onoffswitch-switch"></div>
                            </label>
                        </div>                                 
                    </div>                                 
                </div>                                 
            </div>
        </div>        
        <div class="row">
            <div class="col-xs-12">
                <h3 style="margin-bottom: 5px; margin-top: 5px">Add Email Addresses To The Contact Page</h3>
                <div data-bind="template: { name: 'email_addresses', data: $root.restaurant }"></div>                
            </div>
        </div>
    </div>       

<!-- /ko -->
      
