<h2 class="text-center">Prize Details</h2>
<div class="language_selector_prize" data-bind="visible: languages().length > 1">
    <select data-bind="options: languages, value: $root.lang"></select>                
</div>
<!-- full-name input-->
<div class="row">

    <div class="col-sm-6">
        <div class="form-group">
            <label>Prize Name</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                <input id="name" name="name" type="text" placeholder="Prize Name" maxlength="25" data-bind="valueUpdate: 'afterkeydown', lValue: name" class="form-control">
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label>Prize Value</label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-right:0;"><!-- ko text: prize_type --><!-- /ko --> <span class="caret"></span></button>
                    <ul class="dropdown-menu text-center" role="menu" data-bind="foreach: prize_types">
                        <li data-bind="click: function(){ $parent.prize_type($data) }"><span data-bind="text: $data"></span></li>
                    </ul>
                </div><!-- /btn-group -->
                <input id="amount" name="amount" type="text" placeholder="Prize Name" data-bind="price: amount" class="form-control">
            </div><!-- /input-group -->                    
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label>Quantity</label>
            <select class="form-control" data-bind="options: quantity_list, value: quantity"></select>          
        </div>
    </div>    

    <div class="col-sm-6">
        <div class="form-group">
            <label>Description</label>
            <textarea rows="3" data-bind="lValue: description, valueUpdate: 'afterkeydown'" class="form-control" placeholder="Add Dish Description"></textarea>          
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label>Start Date</label>
            <input type="text" data-bind="datepicker: start_date">
        </div>
    </div> 

    <div class="col-sm-6">
        <div class="form-group">
            <label>End Date</label>
            <input type="text" data-bind="datepicker: end_date">
        </div>
    </div>        

    <div class="col-xs-12" data-bind="visible: prize_type() == '$'">
        <h4 style="color:#cf2f28;">Total Value: <!-- ko text: total_value --><!-- /ko --></h4>
    </div>

    <div class="wrap">
        <a target="_blank" data-bind="attr:{href:'/app/prizes/print_list?prize_id='+id()}" class="col-xs-12" id="print_codes">
                <h4 class="text-center">Coupon Codes</h4>
                <h3 class="prize_print"><i class="fa fa-print" style="color:#cf2f28;"></i></h3>
            <!-- ko foreach: individual_prizes -->
                <div class="col-xs-6">
                    <div class="individual_prize_box">
                        <h4 class="text-center" style="font-family: 'Lato', sans-serif !important;" data-bind="text: prize_token"></h4>
                        <!-- ko if: user_id -->
                            <i class="fa fa-thumbs-o-up" style="position: absolute; right:30px; bottom: 15px"></i>
                        <!-- /ko -->
                    </div>
                </div>
            <!-- /ko -->
        </a>
    </div>

    <div class="col-xs-12">
        <p><i class="fa fa-thumbs-o-up"></i> This Gift Certificate has been won</p>
    </div>

</div>

<div class="row base_bar">
    <div class="col-xs-12">
        <button class="btn btn-rewards col-xs-5" data-bind="click: function(){ $root.destroy($data) }">Delete</button>
        <button class="btn btn-save col-xs-5 col-xs-offset-2" data-bind="click: save">Save <i class="fa fa-spinner fa-spin pull-right" data-bind="visible: spin"></i><i class="fa fa-check pull-right" data-bind="visible: saved"></i></button>
    </div>
</div>


