<%= javascript_include_tag "fast_click" %>
<<<<<<< HEAD
<!-- <h1 class="head">DishGo Rewards</h1>  -->
<div class="container" data-bind="visible: !your_prize()">
=======
<h1 class="head">DishGo Rewards</h1> 
<div class="container" data-bind="visible: page() == 'list'">
>>>>>>> 0db41ddf9bb7a22e7b63dc5eb88c3c742a2e1507
    <div class="prizes_list_controls" data-bind="visible: !selected_prize()">          
        <div class="row">
            <div class="col-xs-12" data-bind="with: user">              
                <div class="dishcoin_count">
<<<<<<< HEAD
                    <h1 class="head">Your Account</h1>
                    <p>DishCoins remaining: <img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/dishcoin_grey.png" style="height: 18px; padding-bottom:1px;"/> <!-- ko text: dishcoins --><!-- /ko --></p>
                    <a href="#"><i class="fa fa-question-circle"></i> Need more DishCoins? Learn how.</a>
                    <div class="btn btn-rewards" style="width: 100%" data-bind="click: function(){ $root.show_your_prizes() }">Your Rewards</div>
=======
                    <h4>Your Account</h4>
                    <p>DishCoins remaining: <img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/dishcoin_grey.png" style="height: 18px;"/> <!-- ko text: dishcoins --><!-- /ko --></p>
                    <a data-bind="click: function(){ $root.show_help() }"><i class="fa fa-question-circle"></i> Need more DishCoins? Learn how.</a>
                    <div class="btn btn-rewards" style="width: 100%" data-bind="visible: $root.any_your_prizes, click: function(){ $root.show_your_prizes() }">Your Rewards</div>
                    <h4 class="rewards">Rewards</h4>
                    <p>Below is a list of rewards. Bet Dishcoins to win. The odds are listed.</p>
>>>>>>> 0db41ddf9bb7a22e7b63dc5eb88c3c742a2e1507
                </div>
            </div>
        </div>
        <div class="grey_bg">    
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="head">DishGo Rewards</h1>
                    <p>Below is a list of rewards. Bet Dishcoins to win.</p>
                    <ul class="list-prizes" data-bind="foreach: prizes">
                        <li class="list-prizes-item" data-bind="click: function(){ $root.selected_prize($data) }">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="restaurant_name" data-bind="text: restaurant_name"></h4>
                                </div>                          
                            </div>                        
                            <div class="row">
                                <div class="col-xs-8 text-left">
                                    <p class="coupon_name" data-bind="lText: name"></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <!-- <i class="fa fa-usd" style="font-size: 16px;" data-bind="text: amount"> </i> -->
                                </div>                            
                            </div>
                            <div class="row" data-bind="visible: lDescription().length > 0">
                                <div class="col-xs-12">
                                    <p style="margin:0;" data-bind="lText: description"></p>
                                    <p>Quantity Remaining: <!-- ko text: quantity --><!-- /ko --></p>
                                </div>                          
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <i class="fa fa-info-circle" style="font-size: 24px; margin-bottom: 10px;"></i>
                                </div>
                            </div>
                            <div class="cnrflash">
                                <div class="cnrflash-inner">
                                <span class="cnrflash-label"><i class="fa fa-usd" style="font-size: 16px; color:#fff;" data-bind="text: amount"> </i></span>
                                </div>
                            </div>                       
                        </li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="container" data-bind="visible: selected_prize">
    <div class="prizes_control" data-bind="with: selected_prize">
        <i class="fa fa-times close_prize" data-bind="click: function(){ $root.selected_prize(null) }"></i>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="restaurant_name" data-bind="text: restaurant_name"></h4>
            </div>                          
        </div> 
        <div class="row">
            <div class="col-xs-12">
                <p class="coupon_name" data-bind="lText: name"></p>    
            </div>                
        </div>        
        <div class="row">
            <div class="col-xs-12">
                <p data-bind="lText: description"></p> 
            </div>                
        </div>                          

        <!-- ko if: !$root.your_prize() -->
            <div class="row" data-bind="visible: $root.user().dishcoins() > 0">
                <div class="col-xs-12">
                    <p class="bidding">Select the number DishCoins to wager on this reward.</p>
                </div>
                <div class="col-xs-6 text-left">
                    <select class="form-control" data-bind="options: $root.user().dishcoin_list(), value: number_of_bets"></select>          
                </div>                
                <div class="col-xs-6 text-right">         
                    <button class="btn btn-rewards" style="width:100%;" data-bind="click: function(){ $root.bid($data) }">Bid!</button>
                </div>
            </div>        
            <div class="row" data-bind="visible: $root.user().dishcoins() == 0">
                <div class="col-xs-12">
                    <p>You're out of DishCoins. Rate dishes or share photos to accumulate more!</p>
                    <p class="text-center">Click here to find out how to earn more.</p>
                </div>
            </div>         
        <!-- /ko -->
        <!-- ko if: $root.your_prize() -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <!-- ko foreach: individual_prizes -->
                        <h4>Coupon Code</h4>
                        <p class="token" data-bind="text: prize_token"></p>
                        <p class="fine">Present this to the merchant to redeem your reward.</p>
                        <p class="fine">Cannot be combined with another offer or promotion.</p>
                    <!-- /ko -->
                </div>
            </div>         
        <!-- /ko -->             
    </div>
</div>

<div class="container" data-bind="visible: page() == 'your_prizes'">
    <div class="prizes_list_controls" data-bind="visible: !selected_prize()">          
        <div class="row">
            <div class="col-xs-12" data-bind="with: user">              
                <div class="dishcoin_count">
<<<<<<< HEAD
                    <div class="btn btn-rewards" style="width: 100%" data-bind="click: function(){ $root.hide_your_prizes() }">Back</div>
                    <h1 class="head">Your Rewards</h1>
                    <p>You've won the following gift certificates!</p>
=======
                    <div class="btn btn-rewards" style="width: 100%" data-bind="click: function(){ $root.show_home() }">Back to Prize List</div>
                    <h4>Your Rewards</h4>
                    <p>You have won the following gift certificates!</p>
>>>>>>> 0db41ddf9bb7a22e7b63dc5eb88c3c742a2e1507
                </div>
            </div>
        </div>
        <div class="grey_bg">    
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-prizes" data-bind="foreach: your_prizes">
                        <li class="list-prizes-item" data-bind="click: function(){ $root.selected_prize($data) }">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="restaurant_name" data-bind="text: restaurant_name"></h4>
                                </div>                          
                            </div>                        
                            <div class="row">
                                <div class="col-xs-8 text-left">
                                    <p class="coupon_name" data-bind="lText: name"></p>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <i class="fa fa-usd" style="font-size: 16px;" data-bind="text: amount"></i>
                                </div>                            
                            </div>
                            <div class="row" data-bind="visible: lDescription().length > 0">
                                <div class="col-xs-12">
                                    <p data-bind="lText: description"></p>
                                </div>                          
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <div class="btn btn-rewards" style="width: 100%">Claim Reward</div>
                                </div>
                            </div>                        
                        </li>
                    </ul>
                </div>
            </div>  
        </div>
    </div>
</div>


<div class="container" data-bind="visible: page() == 'help'">
    <div class="prizes_list_controls">          
        <div class="row">
            <div class="col-xs-12">
                <div class="btn btn-rewards" style="width: 100%" data-bind="click: function(){ $root.show_home() }">Back to Prize List</div>             
                <h1>Help Goes Here</h1>
            </div>
        </div>
    </div>
</div>

<%= render 'list_js' %>   
