<div class="col-md-6">    
    <div class="profile_form_wrapper">   
        <h2 class="text-center">Card on File</h2>
        <div class="row" data-bind="foreach: cards">
            <div class="card">
                <h4>XXXX-XXXX-XXXX-<!--ko text: last4 --><!-- /ko --></h4>
                <h4 data-bind="text: type"></h4>
                <div class="row">
                    <h4 class="col-xs-4"><strong data-bind="visible: id == default_card">Default</strong></h4>
                    <button class="btn btn-warning col-xs-4 col-xs-offset-3" data-bind="">Remove</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 secure_footer base_bar">
                <i class="fa fa-lock"></i> Your information is secure with DishGo <a href="https://stripe.com" target="_blank" class="stripe"><img src="http://d5ca3b0520fac45026ad-6caa6fe89e7dac3eaf12230f0985b957.r95.cf5.rackcdn.com/glossy@2x.png" height="30"></a>
            </div>
        </div>
    </div>
</div>

