<div class="col-md-6">    
    <div class="profile_form_wrapper">   
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Plans</h2>
            </div>
            <div class="col-xs-12">
            </div>
            <div class="col-xs-12 plans" data-bind="foreach: $root.plans">
                <div class="plan" data-bind="click: function(){ $parent.plan($data) }, css:{'selected':$parent.plan() == $data}">
                    <h4 data-bind="text: name"></h4>
                    <h4 data-bind="text: price"></h4>
                    <h4 data-bind="text: interval"></h4>
                </div>
            </div>
        </div>
    </div>
</div>

