<div class="col-md-6">    
    <div class="profile_form_wrapper">   
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Plans</h2>
            </div>
            <h3 class="text-center col-xs-12">Select Your Plan</h3>
            <div class="col-xs-12 plans" data-bind="foreach: $root.plans">
                <div class="plan" data-bind="click: function(){ $parent.plan($data) }, css:{'selected':$parent.plan() == $data}">
                    <h4 class="plan_title" data-bind="text: interval"></h4>
                    <h3 class="plan_price">$<!-- ko text: price--><!-- /ko --></h3>
                    <h4 data-bind="text: message"></h4>
                </div>
            </div>
        </div>
        <!-- ko if: tutorialMode -->
            <div class="row" data-bind="visible: plan">
                <div class="col-xs-12">
                    <a class="btn btn-dish col-xs-6 col-xs-offset-3" data-bind="page-href: '/add_card'">Add Credit Card</a>
                </div>
            </div>
        <!-- /ko -->
        <!-- ko if: !tutorialMode() -->
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-dish col-xs-6 col-xs-offset-3" data-bind="click: subscribeToPlan, disable: updatePlanButton, text: updatePlanButtonText">Update Plan</button>
                </div>
            </div>            
        <!-- /ko -->
        <div class="row">
            <div class="col-xs-12 secure_footer base_bar">
                <i class="fa fa-lock"></i> Your information is secure with DishGo <a href="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/glossy@2x.png" height="30" title="Learn more about Stripe"></a>
            </div>
        </div>
    </div>
</div>


