<div class="container">

    <div class="row" data-bind="with: user">
        <div class="col-xs-12 col-md-6">
            <div data-bind="template: { name: 'user_template', data: $parent.user }"></div>
        </div>
    </div>    

    <div class="row" data-bind="with: restaurant">
        <div class="col-xs-12 col-md-6">
            <div data-bind="template: { name: 'restaurant_template', data: $parent.restaurant }"></div>
        </div>
    </div>


    <%= render 'shared/restaurant_template' %>
    
    <%= render 'shared/restaurant_javascript' %>

    <script type='text/javascript'>//<![CDATA[ 

        function User(data) {
            var self = this;
            self.id = data._id;
            self.email = ko.observable(data.email);

        }    

        function viewModel() {
            var self = this;
            self.restaurant = ko.observable(new Restaurant("<%= current_user.owns_restaurants.as_json %>");
            self.user = ko.observable(new User("<%= current_user.as_json %>"))     
        };

        ko.applyBindings(new viewModel());


    //]]>  
    </script>    

</div>