<h2>Thanks for signing up with DishGo.</h2>
<p>Set your password below and gain access to our powerful dashboard system where you can make changes to your menu and browse our other great products.</p><br />
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <input type="password" class="input form-control" name="password1" id="password1" placeholder="New Password" data-bind="value: password" autocomplete="off">
    </div>
    <div class="col-xs-8 col-xs-offset-2 text-center" data-bind="visible: password_short">
        <p>Password must be at least 8 characters.</p>
    </div>    
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <input type="password" class="input form-control" name="password2" id="password2" placeholder="Repeat Password" data-bind="value: password_confirmation" autocomplete="off">
    </div>
    <div class="col-xs-8 col-xs-offset-2 text-center" data-bind="visible: password_miss_match">
        <p>Passwords must match.</p>
    </div>       
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <botton class="col-xs-12 btn btn-success btn-load" data-bind="click: submit">Set Password</button>
    </div>
</div>

<script>                     
        function viewModel() {
            var self = this;
            self.password = ko.observable("");
            self.password_confirmation = ko.observable("");

            self.password_short = ko.computed({
                read: function(){
                    if(self.password() != "" && self.password().length < 8){
                        return true;
                    } 
                    return false;
                },
                deferEvaluation: true,
            });

            self.password_miss_match = ko.computed({
                read: function(){
                    if(self.password_confirmation() != "" && self.password() != self.password_confirmation()){
                        return true;
                    }
                    return false;
                },
                deferEvaluation: true,
            });            

            self.valid = ko.computed({
                read: function(){
                    if(self.password().length < 8){
                        return false;
                    } 
                    if(self.password() != self.password_confirmation()){
                        return false;
                    }
                    return true;
                },
                deferEvaluation: true,
            });

            self.submit = function(){
                if(!self.valid()){
                    alert("Password must be at least 8 characters and they must match.");
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "/app/profile/set_password_form",
                    data: {
                        password: self.password(),
                        password_confirmation: self.password_confirmation(),
                    },
                    success: function(data, textStatus, jqXHR){
                        window.location.href = "https://dishgo.ca/app";
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 

                    },
                    dataType: "json"
                });              
            }              
        };

        var viewmodel = new viewModel();            

        $(function(){   
            ko.applyBindings(viewmodel);                    
        });

</script>    