<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style type="text/css">
			body {
				background: url(https://dishgo.ca/app/public/img/sign_up.jpg) repeat;
				background-attachment: fixed;
				background-position: top left;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				color: #fff;
			}
			.container_small {
				width: auto;
				min-width: 0;
				max-width: 80%;
				font-size: 16px;
				padding-right: 15px;
				padding-left: 15px;
				margin-right: auto;
				margin-left: auto;
				margin-top: 80px;
				padding-top: 20px;
				padding-bottom: 20px;
				background: rgba(0,0,0,.7);
				border-radius: 5px;
			}
			.row {
				margin-bottom: 10px;
			}						
		</style>
	</head>
    <body>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '484621004971056',
	      xfbml      : true,
	      version    : 'v2.0'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));

		function getPages(){
			FB.ui({
				method: 'pagetab',
			}, function(response){
				console.log(response);
				if(response.tabs_added){
					var link;
					for(var prop in response.tabs_added){ 
						if(prop){
							link = prop;
							break;
						}
					}
					if (link){
						top.location.href = 'https://facebook.com/' + link;
					}
				}
			});	  	
		}

		Array.prototype.getKey = function() {
			for (var prop in this)
				if (this.propertyIsEnumerable(prop))
					return prop;
		}	  
	</script>
    	<%= yield %>

    </body>
</html>
