<!DOCTYPE html>
<html>
<head>
	<title>DishGo</title>
	<%= stylesheet_link_tag    "prizes_list", :media => "all" %>
    <%= javascript_include_tag "prize_page.js" %>	
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,700,300' rel='stylesheet' type='text/css'>

</head>

<style>
	body {
	  margin-top: 0px;
	  padding-top: 18px;
	  background: #373737;
	}
</style>

<body>
	<%=  yield %>
</body>
</html>
