<!DOCTYPE html>
<html>
<head>
	<title>DishGo</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">	
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>	
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
	body {
	  min-height: 2000px;
	  padding-top: 70px;
	}
</style>

<body>	
	<%=  yield %>
</body>
</html>
