<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<% if current_page?(controller: "network", action: "index") %>
			<%= render 'index_meta' %>
		<% else %>
			<%= render 'restaurant_meta' %>
		<% end %>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui" />
		<meta name="fragment" content="!" />
		<meta name="format-detection" content="telephone=no">
  		<meta name="apple-itunes-app" content="app-id=879213213">
  		<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->

		<!--[if lt IE 9]>
			<script src="https://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
			<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	
	</head>
    <body>

	    <div data-bind="visible: network_sign_in" style="display:none">
	        <div id="bg"></div>
	        <div id="sign_in_modal">	        	
	          <div id="sign_in">
	            <div class="row">
	                <div class="col-xs-12 text-center">
						<!-- ko foreach: social_networks -->
							<span data-bind="click:function(){ $data.login();}" class="btn btn-none">
								<i class="fa" data-bind="css:'fa-' + name, style:{'color': online() ? 'red' : 'black'}"></i>
							</span>
						<!-- /ko -->
	                </div>                
	            </div>
	            <div class="row">
	                <div class="col-xs-12 text-center">
						<!-- ko foreach: active_social_networks -->
							<span class="btn btn-none">
								
							</span>
						<!-- /ko -->
	                </div>                
	            </div>	            
	          </div>
	        </div>
	    </div>       	

    	<div data-bind="visible: true" style="display: none">
    		<%= yield %>
    	</div>
    								    	
    </body>
</html>
