<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<% if current_page?(controller: "network", action: "index") %>
			<%= render 'index_meta' %>
		<% else %>
			<%= render 'restaurant_meta' %>
		<% end %>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui" />
		<meta name="fragment" content="!" />
		<meta name="format-detection" content="telephone=no">
  		<meta name="apple-itunes-app" content="app-id=879213213">
  		<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  		<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge'><![endif]-->

		<!--[if lt IE 9]>
			<script src="https://css3-mediaqueries-js.googlecode.com/files/css3-mediaqueries.js"></script>
			<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->	
	</head>
    <body>
    	<script>
			var user_data = <%= current_user ? raw(current_user.to_json) : {}%>;
    	</script>
	    <div data-bind="visible: network_sign_in" style="display:none">
	        <div id="bg" data-bind="click: function(){ network_sign_in(false) }"></div>
	        <div id="sign_in_modal">
	        	<a class="close" data-bind="click: function(){ network_sign_in(false) }">×</a>	        	
	         	<div id="sign_in">
		            <div class="row">
		                <div class="col-xs-12 text-center">
		                	<!-- ko foreach: social_networks -->
		                		<span class="btn btn-none" data-bind="click: function(){ login(); }"><i class="fa" data-bind="css:'fa-'+name"></i></span>
		                	<!-- /ko -->
		                </div>                
		            </div>
		            <div class="row">
		                <div class="col-xs-12 text-center">
		                	<h3>Restaurant Sign In</h3>
							<div class="row">
								<div class="col-sm-10 col-sm-offset-1">
									<input type="email" class="form-control" id="user_email" name="user[email]" placeholder="Email">
								</div>
							</div>
							<div class="row" style="margin-top:5px;">
								<div class="col-sm-10 col-sm-offset-1">
									<input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Password">
								</div>
							</div>
		                </div>                
		            </div>	                        
	          	</div>
	        </div>
	    </div>       	

    	<div data-bind="visible: true" style="display: none">
			<div class="network_header">
				<!-- MOBILE -->
				<!-- ko if: isMobile -->
				<div class="container" data-bind="if: isMobile">
					<div id="logo">
						<a href="/app/network">
							<img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/DishGo_Logo_Network.png" class="img-responsive">
						</a>
					</div>
				
					<div id="login_buttons">
						<ul>
							<li><span class="btn btn-none" style="margin-right:-3px;" data-bind="click: function(){ $root.network_sign_in(true); }, text: login_text">Log In</span></li>
			            	<li><a href="/app/letsdishgo" class="sign_up_button btn btn-search">Get Listed</a></li>
						</ul>
					</div>
				</div>
				<!-- /ko -->	

				<!-- DESKTOP -->
				<!-- ko if: !isMobile -->
				<div class="container">
					<div id="logo" data-bind="visible: !top_search()">
						<a href="/app/network">
							<img src="https://58900edd332817a2d530-6caa6fe89e7dac3eaf12230f0985b957.ssl.cf5.rackcdn.com/DishGo_Logo_Network.png" class="img-responsive">
						</a>
					</div>

					<div class="form-inline form" data-bind="visible: top_search" style="display: none">
						<div class="form-group">
							<div class="controls">
								<div class="input-group input-group-lg">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
									<input type="text" placeholder="Restaurant Name" class="form-control" data-bind="hasFocus: top_search, value: restaurant_search_term, valueUpdate: 'afterkeydown'" />
									<span class="input-group-btn">
										<span class="btn btn-lg btn-search hidden-xs" data-bind="click: function(){ $root.ajax_search(); }">Search</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				
					<div id="login_buttons">
						<ul>
							<li><span class="btn btn-none" style="margin-right:-3px;" data-bind="click: function(){ $root.network_sign_in(true); }, text: login_text">Log In</span></li>
			            	<li><a href="/app/letsdishgo" class="sign_up_button btn btn-search">Get Listed</a></li>
						</ul>
					</div>
				</div>
				<!-- /ko -->	
			</div>    

    		<%= yield %>
    		
			<footer>
			    <div class="container">
			        <div class="row">
			            <div class="col-sm-20">
			                <a class="twocolors" href="http://dishgo.io"><span class="white">Dish</span><span class="red">Go</span><span class="white"> App</a>
			            </div>
			            <div class="col-sm-20">
			                <a href="http://dishgo.io">Get Listed</a>
			            </div>
			            <div class="col-sm-20">
			                <a href="http://dishgo.io">Web Design</a>
			            </div>
			            <div class="col-sm-20">
			                <a href="http://dishgo.io">Blog</a>
			            </div>
			            <div class="col-sm-20">
			                <a href="http://dishgo.io">Sign Up</a>
			            </div>
			        </div>
			        <div class="row">
			            <div class="col-sm-6 col-sm-offset-3">
			                <div class="row social_media">
			                    <div class="col-xs-4">
			                        <a href="https://www.facebook.com/DishGoInc" target="_data"><i class="fa fa-facebook"></i></a>
			                    </div>
			                    <div class="col-xs-4">
			                        <a href="https://www.twitter.com/dishgo" target="_data"><i class="fa fa-twitter"></i></a>
			                    </div>
			                    <div class="col-xs-4">
			                        <a href="https://instagram.com/dishgo" target="_data"><i class="fa fa-instagram"></i></a>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			    <div class="letsdishgo-bottom">
			        <ul>
			            <li class="first">
			                <a href="https://dishgo.io/privacy-policy.html" target="_blank">Legal</a>
			            </li>
			            <li>
			                <a href="mailto:info@dishgo.io">Contact Us</a>
			            </li>
			            <li class="last">
			                <a href="https://dishgo.io">©DishGo</a>
			            </li>
			        </ul>
			    </div>
			</footer>    		
    	</div>
    								    	
    </body>
</html>
